[2014-06-17 07:05] stefanbuck opened #3 "Check if resource is a directory or file"
Shouldn't append `index.js` when the resource is a file.

`require('./adapter')` // is a directory
/adapter/index.js

`require('./adapter')` // is a file
/adapter.js

[2014-06-19 16:43] stefanbuck opened #4 "Add CoffeeScript support"
Require statements in a `.coffescrript` file should also clickable.

[code]

[2014-07-29 22:29] #3 closed, assigned to stefanbuck

[2014-07-31 15:26] timoweiss opened #5 "Requiring modules via variable (haven't tested)"
What happens if i write something like that:

[code]

I've heard Java guys love it that way ;)

[2014-07-31 19:22] #5 closed, assigned to nobody

[2014-07-31 20:11] #4 closed, assigned to nobody

[2014-08-31 20:06] timoweiss opened #6 "wrong linking"
[require('smalloc') - v0.11](https://github.com/joyent/node/blob/c7f424e44b7e61b89f91cd344599c3d1cdfb88fe/lib/fs.js#L41) lives here: [http://nodejs.org/docs/v0.11.5/api/smalloc.html](http://nodejs.org/docs/v0.11.5/api/smalloc.html) not [here](http://nodejs.org/api/smalloc.html).
Not sure whether it would make sense to handle those edge-cases.
What do you think?

[2014-09-18 04:32] chetandhembre opened #7 "extension for firefox"
It would be awesome if this extension is created for firefox.

[2014-09-18 08:17] barryvdh opened #8 "Composer (php) support"
Is there any chance Composer will be supported? I don't think it's very different then bower/npm files.

Links are in a composer.json file, in require and require-dev section
example: https://github.com/composer/composer/blob/master/composer.json

Package information: https://packagist.org/packages/%s.json (eg. https://packagist.org/packages/composer/composer.json), which links to a repository (mo

[2014-09-18 08:21] stefanbuck opened #9 "+++ Dear GitHub +++"
Imagine the OctoLinker would be part of GitHub.com and available for all languages and users.

Please react comment with :+1: to show your interest.

[2014-09-18 08:24] #7 closed, assigned to nobody

[2014-09-18 08:49] gunta opened #12 "Add support for github enterprise"
Basically it would need to:
1) Accept a url other than github.com
2) Read the `.npmrc` file next to `package.json` to see which registry its pointing.

[2014-09-18 19:46] #8 closed, assigned to nobody

[2014-09-21 11:58] sindresorhus opened #15 "Doesn't link when you mark a line"
https://github.com/sindresorhus/pageres/blob/master/index.js#L4

Without `#L4` it works.

[2014-09-21 14:37] #15 closed, assigned to nobody

[2014-09-25 21:00] #6 closed, assigned to nobody

[2014-10-06 11:59] spacewander opened #17 "Will expand the usage of this extension to `Gemfile`,`Requirements.txt` or other dependency file?"
If you are pleased, I can not wait to write some pull requests about this!

[2014-10-07 05:51] #17 closed, assigned to nobody

[2014-10-19 16:00] charliedowler opened #18 "Add support for markdown files"

[2014-10-20 07:30] stefanbuck opened #19 "Add options page"

[2014-10-30 13:28] barryvdh opened #20 "Not working anymore"
I can't seem to get the latest version working. Is it just me? For example, https://github.com/stefanbuck/github-linker/blob/master/package.json doesn't do anything. Is there anything I can do to debug/tweak anything?

[2014-11-07 01:10] ryanseys opened #21 "Support for Github PRs"
Seems to not work in a pull request files view.

[2014-11-12 19:46] #20 closed, assigned to nobody

[2014-11-30 21:56] megawac opened #22 "Git urls"
Git urls are a bit complicated and can come in the form of

[code]

It'd be sweet if support for these were added, I played with it myself but didn't get far

[2014-11-30 21:58] megawac opened #23 "Non master branch default from a github source"
Try loading https://github.com/RobotWebTools/roslibjs, as `develop` is the default branch and master hasn't yet been rebased this occurs

[2015-01-04 16:29] stefanbuck commented on #18
@charliedowler implemented with version 3.3.0 https://github.com/stefanbuck/github-linker/blob/master/CHANGELOG.md#v330-2015-01-04

[2015-01-04 16:29] #18 closed

[2015-01-04 16:30] stefanbuck commented on #21
@ryanseys  implemented with version 3.3.0 https://github.com/stefanbuck/github-linker/blob/master/CHANGELOG.md#v330-2015-01-04

[2015-01-04 16:30] #21 closed

[2015-01-07 23:53] stefanbuck commented on #22
@megawac implemented with version 3.4.0 https://github.com/stefanbuck/github-linker/blob/master/CHANGELOG.md#v340-2015-01-07

[2015-01-07 23:53] #22 closed

[2015-01-18 00:06] stefanbuck opened #24 "Remove "Read browser history" permission"
... to get a little bit more serious :shipit:

![screen shot 2015-01-18 at 01 07 11](https://cloud.githubusercontent.com/assets/1393946/5790866/89559d1e-9eae-11e4-8492-4d15b6d4ad6a.png)

[2015-01-20 00:20] #24 closed

[2015-01-24 00:07] #19 closed

[2015-01-24 00:08] #23 closed

[2015-01-24 00:11] stefanbuck opened #25 "Add settings to options page"
- [x] Checkbox to turn on / off update notifications
- [ ] Open link in new or same tab / window https://github.com/stefanbuck/github-linker-core/pull/3
- [ ] Specify custom registry url for npm
- [ ] Custom base domain. Needed for GitHub enterprise https://github.com/stefanbuck/github-linker/issues/12

[2015-01-28 02:05] jameswyse opened #26 "Update options.changelog"
I just got an update notification that linked to [github-linker/chrome-extension/releases/](https://github.com/github-linker/chrome-extension/releases) instead of [github-linker/core/releases](https://github.com/github-linker/core/releases)!

[2015-01-28 02:08] jameswyse commented on #9
:+1: It's a little thing, but so useful!

[2015-01-28 07:02] stefanbuck commented on #26
Thank you for the hint. Yesterday I've uploaded the wrong version which includes the upcoming option page and therefore the notification appears with the wrong link. Now I disabled the notification and options page until the next minor release.

[2015-01-28 07:02] #26 closed

[2015-02-02 08:50] petereberlecom commented on #9
:+1:

[2015-02-07 02:27] lambtron commented on #9
:+1:

[2015-02-15 02:13] teppeis commented on #9
:+1:

[2015-02-15 10:18] t32k commented on #9
:+1:

[2015-02-16 08:01] staabm opened #28 "Firefox support"
would be great to get this great extension also in firefox

[2015-02-16 08:35] gharlan commented on #9
:+1:

[2015-02-16 08:41] tjmehta opened #29 "Safari support"
I love this plugin. I would love to see safari support. Thanks!

[2015-02-16 08:46] tjmehta commented on #29
Octotree, another browser plugin I love has recently started supported all browsers. It looks like a good examples of how to support multiple plugin formats ( Firefox too #24). Check out the source here: https://github.com/buunguyen/octotree

[2015-02-16 08:56] horiuchi commented on #9
:+1:

[2015-02-16 10:41] petereberlecom commented on #28
:+1:

[2015-02-16 21:28] stefanbuck commented on #29
The problem is not to build these extensions, but keep them up to date with the registries. Accutlay once per week I run a script which generates the cache list for the npm, bower and comperser registry.

I'm planning to move the core from a cache list to a live resolver solution, but I need time to develop it. Soon as this is done I can start thinking about a safari and firefox version :wink:

[2015-02-16 21:29] stefanbuck commented on #28
See https://github.com/github-linker/chrome-extension/issues/29#issuecomment-74575088

[2015-02-17 06:16] hokaccha commented on #9
:+1:

[2015-02-18 03:41] keichi commented on #9
:+1:

[2015-02-21 21:31] tjmehta commented on #29
Ah, I was wondering what you were doing the linking. Is it not possible to do everything clientside (maybe parse npmjs or bower websites for the github links - or maybe reverse engineer their apis)?

[2015-02-21 22:10] stefanbuck commented on #29
Yeah, that's the plan. I will start working on it soon :wink:

[2015-02-22 20:39] Qard opened #30 "ES6 module support"
It'd be cool if this supported ES6 module import declarations.

[2015-02-25 21:23] stefanbuck commented on #30
Good point, will think about it.

[2015-02-25 21:52] davidosomething opened #31 "[Feature Request] .vimrc NeoBundle support"
The syntax is typically
NeoBundle(Lazy)? 'GITHUBUSER/REPONAME'

e.g.
`NeoBundle 'haya14busa/incsearch.vim'`
Should link to [https://github.com/haya14busa/incsearch.vim](https://github.com/haya14busa/incsearch.vim)

match patterns are, on any .vimrc .gvimrc *.vim

(((Neo)?Bundle(Lazy|Fetch)?)|Plug(in)?)\s'(.)'

[2015-02-26 15:56] stefanbuck commented on #31
Sorry out of scope for now. But feel free to send a PR to https://github.com/github-linker/core

[2015-02-26 15:56] kwakayama commented on #31
:+1: for this feature

[2015-02-27 00:37] stefanbuck commented on #30
@Qard  It's on the roadmap for [github-linker-core@2.x](https://github.com/github-linker/core/milestones/2.x)

[2015-02-27 00:37] #30 closed

[2015-03-13 09:08] MethodGrab opened #32 "Incorrect linking in JS markdown codeblocks"
The plugin is trying to resolve every string in JS markdown codeblocks as a module.

An example of this can be seen in the README for the [gulp-htmlbars](https://github.com/mattma/gulp-htmlbars#gulpfilejs) repo, the plugin is trying to resolve every string in the `gulpfile.js` codeblock as a module, even paths.

![image](https://cloud.githubusercontent.com/assets/2421069/6635623/fe19a998-c95f-11e4

[2015-03-13 22:54] stefanbuck commented on #32
Thanks for reporting this issue. At the moment the link detection is fuzzy and will be improved in the next major version. In the meantime I'll take a look on it.

[2015-03-13 23:25] MethodGrab commented on #32
Thanks, it's not a major thing I just couldn't see an open issue for it so I thought it was worth raising one! :+1:

[2015-03-16 06:56] dima-f1 commented on #9
:+1:

[2015-03-16 23:57] walidsa3d opened #33 "Python support"
It would be nice to add support for Python imports

[2015-03-17 23:02] stefanbuck commented on #33
Could you provide an example? I'm not so familiar with that, sorry.

[2015-03-19 23:41] walidsa3d commented on #33
like: import termcolor
all python packages are hosted in pypi like this https://pypi.python.org/pypi/termcolor, there you can find the link to the homepage (usually github).

[2015-03-23 12:01] just-boris commented on #12
Have enterprise github in my company, +1

[2015-03-23 12:51] phpnode opened #34 "Extension stopped working"
It seems that the extension has stopped working, perhaps github updated their CSS?

[2015-03-23 16:08] stefanbuck commented on #34
Jap that's correct see https://github.com/github-linker/core/issues/15. Will fix it soon.

[2015-03-23 19:10] tunnckoCore commented on #34
@stefanbuck we should reinstall extension?

[2015-03-23 19:12] stefanbuck commented on #34
No, reinstall is not needed. Just keep in mind that the publish process may take up to 60 minutes to appear in the Chrome Web Store. Fix version number is 3.6.0.4

[2015-03-23 19:12] #34 closed

[2015-05-13 20:01] sperand-io commented on #9
:+1:

[2015-06-04 06:48] thoroc commented on #9
:+1:

[2015-06-05 12:29] balda commented on #9
:+1:

[2015-06-25 14:30] tleunen opened #35 "Support of ES6 import"
Would be great to have a support of ES6 import syntax

[2015-06-26 05:34] stefanbuck commented on #35
Definitely, PR welcome :wink:

[2015-06-26 14:22] tleunen commented on #35
Will try to find some time to check this. Seems to be in core though.
I'll close this one because you already entered an issue about that here https://github.com/github-linker/core/issues/14

[2015-06-26 14:22] #35 closed

[2015-06-26 18:09] stefanbuck commented on #35
Cool, take a look to this file https://github.com/github-linker/core/blob/master/lib/modules/require.js. It should be not hard to implement, hopefully :wink:

[2015-07-04 15:06] fusion2004 commented on #9
:+1:

[2015-07-05 20:20] MicheleBertoli commented on #9
+1

[2015-07-05 21:51] HoBi commented on #9
:+1:

[2015-07-06 00:18] kessler commented on #9
:+1:

[2015-07-06 09:41] #25 closed

[2015-07-06 11:39] wayneashleyberry commented on #9
:+1:

[2015-07-06 13:19] eligolding commented on #9
:+1:

[2015-07-06 22:00] fprochazka opened #36 "Composer: doesn't work when repo has named differently than the package"
For example the `doctrine/orm` in https://github.com/Kdyby/Doctrine/blob/master/composer.json is not linked.

[2015-07-07 00:44] Anahkiasen opened #37 "Support for PHP imports"
I'm not sure this is doable, but bear with me. Currently in JS files, Github Linker will autolink requires that are in the same repository:

[code]

Would it be in any way possible to provide the same kind of features for PHP uses, when you have per example:

**src/Foobar/SomeClass.php**
[code]

Most repositories nowadays follow some sort of autoloading standard so namespaces/class names share a 1

[2015-07-07 05:46] stefanbuck commented on #36
Thanks for reporting. The issue is the new line after `nette/robot-loader`. Not sure how I can fix that at the moment.

I'm thinking about doing a bigger refactoring of the core. This would be ideally less strict with the dom .. we will see :wink:

[2015-07-07 06:03] stefanbuck commented on #37
Thanks for the great description :+1:

It shouldn't be to hard to implement if the import string is a 1:1 relation with the folder structure. But a lookup in another file to get the base path is not supported.

I'm thinking about doing a bigger refactoring of the core which maybe would handle cases like this.

[2015-07-07 06:19] stefanbuck commented on #12
I had a change to take a look on this and I think this will never be possible, sorry. GitHub enterprise is "just" a more stable and by that older version of github.com. The dom structure (on which the extensions relies) is / could be completely different to github.com so it wouldn't work.

So we can just wait for a "native" implementation of the GitHub Linker. Please visit the [voting issue](https

[2015-07-07 06:19] #12 closed

[2015-07-07 11:27] barryvdh commented on #37
As long as the first part of the `use Foobar\..` statement is the same as the current namespace, I guess you could do a pretty decent mapping.

And then you could parse all `use Foobar\Bar\Baz` statements to find all `Baz` calls in the actual code, and also map those ;)

[2015-07-07 18:37] nicolaiskogheim commented on #9
:+1:

[2015-08-04 03:38] CatTail commented on #9
:+1:

[2015-08-15 02:18] paulirish opened #38 "Performance. 250ms to initialize"
On my macbook air, this extension pauses the load of the page for 250ms while it compiles and runs:

![image](https://cloud.githubusercontent.com/assets/39191/9287051/cb017522-42b8-11e5-8754-8597445d0ba4.png)

![image](https://cloud.githubusercontent.com/assets/39191/9287056/2e27031a-42b9-11e5-8fba-c6764da9e76b.png)

The upfront parsing is what really kills it. I am guessing because of the enormou

[2015-08-16 13:36] stefanbuck commented on #38
I'm thinking since a while about a bigger refactoring of the extension to get ride of the JSON file. My idea is to evaluate the package names on the fly without a lookup list or even just for the most popular packages. Unfortunately I'm busy with my new flat, but I will try to find a solution soon as possible.

[2015-08-17 15:09] rreusser commented on #9
:+1:

[2015-08-18 21:06] santosh commented on #9
:+1:

[2015-08-19 05:39] jdreesen commented on #28
+1

[2015-08-19 05:39] jdreesen commented on #9
:+1:

[2015-08-20 22:13] stefanbuck commented on #38
Just a quick status update on this. I'm currently working on a service, which will be soon responsible for the mapping. I'm very happy to get ride of these JSON files. Thanks for pushing me @paulirish  :wink:

https://github.com/github-linker/live-resolver

[2015-08-21 01:34] paulirish commented on #38
most good!​

[2015-08-21 21:57] danilosampaio commented on #9
:+1:

[2015-08-23 23:22] stefanbuck commented on #38
Fix in [v.3.8.0](https://github.com/github-linker/chrome-extension/releases/tag/v.3.8.0)

[2015-08-23 23:22] #38 closed

[2015-08-24 06:40] camsong opened #40 "Permission confusion"
![image](https://cloud.githubusercontent.com/assets/948896/9434117/c172b54a-4a6d-11e5-99dd-6ce0ee8bc78a.png)

How come it needs the `change` permission?

[2015-08-24 07:14] stefanbuck commented on #40
No worries, it's just need for the communication with the live resolver API. For details, check out the release notes :wink:
https://github.com/github-linker/chrome-extension/releases

[2015-08-24 07:16] stefanbuck commented on #40
If there is something still unclear don't hassle to ask.

[2015-08-24 10:49] camsong commented on #40
make sense, thanks.

[2015-08-24 10:49] #40 closed

[2015-08-25 00:21] evanrelf opened #41 "Support for Vim plugins"
Vim plugin managers make you list out your plugins like this, with the tail end of GitHub URLs:

[code]

You can see more examples of this in my Vim configuration file: https://github.com/evanrelf/dotfiles/blob/master/nvimrc#L26

It would be awesome if this browser extension could make the part in the single quotes a link, like it does for NPM packages and the like.

[2015-08-25 20:24] stefanbuck opened #42 "Support for rubygems"
E.g.: https://github.com/jekyll/jekyll/blob/master/Gemfile

FYI @rayshan @thoroc @soberstadt

[2015-08-25 20:27] stefanbuck opened #43 "Support for Ruby"
[code]

http://ruby-doc.org/core-2.2.3/Kernel.html#method-i-require

[2015-08-25 20:28] stefanbuck opened #44 "Support for Haskel"
[code]

https://wiki.haskell.org/Import

[2015-08-25 20:28] stefanbuck opened #45 "Support for Rust"
[code]

https://doc.rust-lang.org/reference.html#extern-crate-declarations

https://crates.io/ could be used as a fallback when a GitHub repo is not found

[2015-08-25 20:29] stefanbuck opened #46 "Support for Go"
[code]

http://golang.org/ref/spec#Import_declarations

[2015-08-26 23:37] tunnckoCore opened #47 "No more works with right-click button or `CTRL + click`"
After `v3.8.0` bump. Which makes it unusable, imo.

Chrome 43.0.2357.130, ArchLinux.

[2015-08-27 07:46] stefanbuck commented on #47
Thanks, I'll fix it tonight

[2015-08-27 20:24] stefanbuck commented on #47
<kbd>CTRL</kbd> + click is fixed in `v.3.8.2`, but right-click isn't anymore supported because of change from a static map list to a resolver api. For more details check out the release notes from [v.3.8.0](https://github.com/github-linker/chrome-extension/releases/tag/v.3.8.0)

[2015-08-27 20:24] #47 closed

[2015-08-28 06:07] tunnckoCore commented on #47
@stefanbuck it seems it's not fixed.

Is there any way to use v3.7.x extension?

[2015-08-28 06:26] stefanbuck commented on #47
Damn. You can build the previous version by yourself https://github.com/github-linker/chrome-extension/commit/06b0d337ffd8a39231c6b5cfc98a0df2276d2a75. But I'm interested to fix it issue :wink:

[2015-08-28 06:29] tunnckoCore commented on #47
Okey, i'll try :)

[2015-08-28 07:08] barryvdh opened #48 "Lazy/pre-load"
Since the changes is loading it on request, using the API. we can't directly see the link anymore on hover.

Perhaps a few possibilities:
- When the document has loaded, request all the packages
- Load the link on hover, instead of click.

Although the first option would dramatically increase the API requests. Could partially be overcome by using some local cache with recent items?

[2015-08-28 07:29] stefanbuck commented on #47
I found the problem and will release a fix this evening.

Cheers

[2015-08-28 15:47] stefanbuck commented on #48
Why are you interested in seeing the URL up front? Can you please share your concerns with me.

[2015-08-28 15:47] barryvdh commented on #48
Not something specific, mostly just curious where it links to.

[2015-08-28 17:10] stefanbuck commented on #47
Please check it if it is working in `3.8.3` :fingercrossed:

[2015-08-28 17:19] stefanbuck commented on #48
Then just wait a sec :stuck_out_tongue_winking_eye:

Prefetching all links on every page will be definitely overkill and to heavy for the API / my heroku plan. Even with a local cache, the server would be busy all the time.

[2015-08-28 18:08] barryvdh commented on #48
But it only starts loading when clicked right, not hover?
But fair enough, I'll see for now and otherwise look into a PR ;)

[2015-08-28 18:08] #48 closed

[2015-08-28 18:34] stefanbuck commented on #48
Ahh sorry, I overread your hover idea. Yes that could work :wink:

[2015-08-28 19:12] tunnckoCore commented on #47
not released/published

[2015-08-28 19:14] stefanbuck commented on #47
It is
![w zgxleotalzaaaaabjru5erkjggg](https://cloud.githubusercontent.com/assets/1393946/9554913/c500c4d6-4dc9-11e5-9b36-9971343dab49.png)

[2015-08-28 19:17] tunnckoCore commented on #47
There's no github release and chrome didn't notify me that there have updates.

[2015-08-28 19:20] stefanbuck commented on #47
Notifications are only there for minor and major releases not for bugfixes. I will write release notes later this evening.

[2015-08-28 19:30] tunnckoCore commented on #47
Oo, okey. Yea ctrl + click works.

[2015-08-28 21:09] tunnckoCore commented on #47
@stefanbuck not work when reviewing some file.

[2015-08-29 05:29] stefanbuck commented on #47
Please send me the URL so I can take a look on it. Thanks

[2015-08-29 06:08] tunnckoCore commented on #47
Firstly the extension worked as expect - when browsing github files and when looking READMEs. Now nothing. It's not specific file.

[2015-08-29 06:57] stefanbuck commented on #47
Strange, I will check it.

[2015-08-29 14:01] ewnd9 opened #49 "Opening in new tab"
Hello, thanks for the great extension. What about opening package in new tab on middle mouse click?

[2015-08-29 16:00] stefanbuck commented on #49
Should work since `v3.8.3`

[2015-08-29 16:13] ewnd9 commented on #49
As I found in github-linker/chrome-extension#47 there is also `ctrl+click` which works for me on `v3.8.3`, but not middle mouse click.

[2015-08-29 17:02] stefanbuck commented on #49
What is your OS?

[2015-08-29 17:05] ewnd9 commented on #49
Ubuntu 14.04

[2015-08-29 20:40] stefanbuck commented on #49
I don't have neither Ubuntu or a three button mouse to test it. So could you please got to [this](http://output.jsbin.com/jorejatiwa/) page and press the button with the middle mouse and reply the result here. Thank you

[2015-08-29 20:46] stefanbuck commented on #47
@tunnckoCore Did you build the previous version by yourself? If so, please make sure that there is only one GitHub-Linker extension installed / active in your browser.

[2015-08-30 06:26] ewnd9 commented on #49
Event value: 2

[2015-08-30 13:37] stefanbuck commented on #49
Mhhh it should work, because it's already implemented like this. Can you please test if the middle mouse click works for this demo http://output.jsbin.com/yowofoxisu/ ?

[2015-08-30 14:23] ewnd9 commented on #49
Yep, it works in demo

[2015-08-30 16:39] stefanbuck commented on #49
It's nearly the same code. I`ll looking for an ubuntu image and a test mouse.

[2015-09-02 18:23] williamboman commented on #49
It would also be nice if the `github-link` span element was an anchor element with an href that could be opened in a new context. Simply like this;
![eh](https://cloud.githubusercontent.com/assets/6705160/9640016/70227ea2-51af-11e5-8195-fa53cdb1e80d.gif)

This could probably be achieved through a HTML/JS data-URI or simply resolve every dependency in a batch request and insert the links in the DOM

[2015-09-03 19:39] joseph-onsip commented on #9
:+1: it'd be super-neat if the functionality could be extended to other languages too, like C's #include directives

[2015-09-05 12:16] stefanbuck commented on #49
Yes, in the previous version it worked like that, because the extension had a huge list of all repo urls. unfortunately this cause a big performance issue #38. So I decided to replace that static url lists with an api service https://github.com/github-linker/live-resolver/. That's the reason why the behaviour is now a little bit different. Solving all links by default would be overkill and to heav

[2015-09-05 12:22] williamboman commented on #49
With my limited knowledge of how the extension works, wouldn't it be possible to simply href all dependencies to e.g. https://githublinker.herokuapp.com/npm/foo-bar?redirect=1, with a `?redirect=1` flag which tells the server to respond with a 301 (perhaps 302)?

However, when the user clicks the link it'll prevent the default action and resolve it in-browser, keeping the same functionality as of

[2015-09-05 15:11] stefanbuck commented on #49
Yeah that could work, but I'm worried about the UX if a package can't be resolved by the API. Right now the linker shows a nice inline message.

<img width="393" alt="screen shot 2015-09-05 at 17 05 01" src="https://cloud.githubusercontent.com/assets/1393946/9699839/48201a3e-53f0-11e5-9a0f-8ee96865377a.png">

[2015-09-05 17:22] williamboman commented on #49
It would still retain current functionality. It would be possible to resolve the URL both in-browser and through HTTP redirects.

[2015-09-09 06:54] Deano10134 commented on #9
:+1:

[2015-09-09 15:33] pguth commented on #9
:+1:

[2015-09-13 14:53] techniq opened #50 "Chrome extension memory usage"
Currently the GitHub Link extension is the largest memory consumer under Chrome's task manager :(

![github-linker-memory](https://cloud.githubusercontent.com/assets/177476/9837207/97d93fa4-5a05-11e5-91c7-8e8e965b8cf4.png)

[2015-09-13 20:03] stefanbuck commented on #50
Are you using the latest version `3.8.3`?

[2015-09-14 02:49] techniq commented on #50
Yes, `3.8.3`

[2015-09-14 08:07] LeonardoGentile commented on #9
:+1:

[2015-09-14 08:46] stefanbuck commented on #50
After surfing a while on github.com my memory usage is still around ~48MB. I guess it's an edge case memory leak. Can you reproduce it easily? If so, please describe the steps that would be really helpful.

[2015-09-14 12:58] techniq commented on #50
I visit a lot of github pages which might be causing it.  This morning it was at ~700MB.  I just disabled and reenabled the extension and will keep an eye on it.  I did a heap dump earlier to try to figure out what was taking up the memory but couldn't made out anything myself.

[2015-09-30 12:34] machour commented on #9
:+1:

[2015-10-02 20:53] stefanbuck commented on #50
@techniq is the memory usage still an issue for you?

[2015-10-03 13:03] techniq commented on #50
@stefanbuck I haven't noticed it again (at least bad enough that would make me look for it).  My current uptime is only ~4 days, but I just checked, and the extension was at 34.8MB.  Closing issue.  Thanks

[2015-10-03 13:03] #50 closed

[2015-10-05 12:37] barryvdh opened #52 "Packagist fallback for Composer"
If the composer lookup fails, you could use the Packagist link instead: `https://packagist.org/packages/{vendor}/{client}`
eg. https://packagist.org/packages/google/apiclient

[2015-10-05 14:27] stefanbuck commented on #52
Would you like to submit a PR for that? https://github.com/github-linker/live-resolver/blob/master/src/resolver/composer.js

[2015-10-10 12:22] HerringtonDarkholme commented on #9
:+1:

[2015-10-15 12:52] adam-lynch commented on #9
:+1:

[2015-10-20 23:32] paulirish opened #54 "Defer execution a tad"
Been noticing this slows down page loads lately...

![image](https://cloud.githubusercontent.com/assets/39191/10623816/513d7d12-7747-11e5-8213-7361ab408a41.png)

Here you can see Linker is definitely the most expensive of all my extensions.

Is there any reason it needs to run immediately at document_end ? I'd much prefer `document_idle`

it will run at window.load or 200ms after DOMContentLoaded,

[2015-10-20 23:43] paulirish commented on #54
hooked up this SO answer to clarify this a bit: http://stackoverflow.com/q/33248629/89484

[2015-10-21 12:17] stefanbuck commented on #54
Yeah, I should definitely change that. Thanks for the hint.

[2015-10-23 05:18] #54 closed

[2015-10-25 08:21] mattlyons0 commented on #9
:+1:

[2015-10-28 06:45] stefanbuck commented on #52
Implemented see https://github.com/github-linker/live-resolver/pull/4

[2015-10-28 06:45] #52 closed

[2015-10-30 11:44] xixixao commented on #9
:+1:

[2015-11-01 18:59] sindresorhus commented on #49
:+1: I often want to open a dependency in a new tab, but can't... A redirect `?redirect=1` flag sounds like a good idea.

[2015-11-01 21:35] stefanbuck commented on #49
Use <kbd>cmd</kbd> + click to open a link in a new tab. Context menu and middle mouse click are not supported yet.

[2015-11-17 11:32] sindresorhus commented on #44
// @passy

[2015-11-18 12:30] AlexChesters opened #55 "Support for Objective-C?"
Currently Objective-C imports like [this](https://github.com/AlexChesters/ukpd-ios/blob/master/ukpd/ukpd/view-controllers/MainTableViewController.m#L9) try to find an NPM module with name of the class.

[2015-11-18 21:02] stefanbuck commented on #55
No, Objective-C is not supported yet. The extension use a fuzzy method to replace the links. I'm working to improve it with the next major version.

[2015-12-09 09:16] CatTail opened #56 "Can't resolve path contain dot"
[This line](https://github.com/rackt/redux/blob/ca6ded66484d4d73134ee1bc7bb3c205e42165a4/examples/real-world/containers/Root.js#L2) use `require('./Root.prod')` to load module, linker can't properly resolve module path.

[2015-12-09 21:49] stefanbuck commented on #56
Mhh that's an edge case, because I use `path.extname` to determine if there is a file extension present. I'll have a look on it later this week. If you are interested in sending a fix, this would be the right place to start debugging it. https://github.com/octo-linker/core/blob/e970d1c655c6bb82d953c6679c6ac316338f72c2/lib/live-resolver/index.js#L87

[2015-12-12 16:18] 912d commented on #9
:+1:

[2015-12-14 11:57] zzz6519003 opened #57 "[bug] redirecting fail"
https://github.com/facebook/react/blob/35962a00084382b49d1f9e3bd36612925f360e5b/src/renderers/shared/reconciler/ReactCompositeComponent.js#L15
:+1:

[2015-12-14 16:19] stefanbuck commented on #57
I don't think this is a bug, because if the module would be available on npm it would work. The react project is using the CommonJS style for dependency management but without publish the modules on npm. They are using https://www.npmjs.com/package/commoner for that, if you are interested.

This is a common problem for the octo-linker. I've noticed the same behaviour for https://github.com/atom/el

[2015-12-15 03:13] zzz6519003 commented on #57
:beer:

[2015-12-15 03:13] #57 closed

[2015-12-15 08:51] Darkle opened #58 "Perhaps remove margin-left from html element with new github redesign"
Woops sorry, I posted this in the wrong repo.

[2015-12-15 08:54] #58 closed

[2015-12-30 01:11] d2s commented on #9
:+1: This kind of features would clearly benefit users of GitHub.

[2015-12-30 01:57] mariusGundersen commented on #28
With the new WebExtension api in Firefox it should be pretty straight forward to make this an extension both in Chrome and Firefox. I'll see if I can help you with that

[2015-12-30 03:07] adammagana commented on #9
:+1:

[2015-12-30 08:15] stefanbuck commented on #28
That would be great @mariusGundersen

[2015-12-30 12:57] shahinism commented on #9
:+1:

[2016-01-04 15:32] lfender6445 commented on #43
:+1:

[2016-01-08 08:48] AlexChesters opened #60 "Shouldn't attempt to follow ES6 backticks"
I've found that ES6 [template string](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/template_strings) can be selected using this extension. You can see an example of this [here](https://github.com/AlexChesters/alexchesters.com/blob/master/lib/app.js#L27).

[2016-01-08 15:09] stefanbuck commented on #60
Thanks for reporting the issue. I've noticed the same behaviour a couple of times, but since I started working on the next major version I don't want waste time on fixing it :wink:

[2016-01-08 15:09] #60 closed

[2016-02-20 12:45] Gerhut opened #62 "Support for Docker"
[code]

https://docs.docker.com/engine/reference/builder/#from

[Docket Hub](https://hub.docker.com/) page would be OK

[2016-02-20 20:20] stefanbuck commented on #62
Good idea :+1: As soon as the refactoring is completed (see dev branch), it should be quite easy to implement.

[2016-02-25 17:11] dasilvacontin commented on #41
+1

[2016-02-29 20:16] timdorr opened #63 "Incorrectly identifying Ruby files"
Example: https://github.com/rails/rails/blob/master/load_paths.rb

The `require 'bundler'` line is being linked to an NPM package that doesn't exist. Happens with any .rb file I've tried.

I've looked through the code a bit, but I'm not sure of the cause offhand. I believe there's some stuff to limit linking to certain file and code block types. Is that not working because of a Github change?

[2016-03-01 00:30] stefanbuck commented on #63
Hi @timdorr, thanks for reporting this behaviour. I'm already aware of this behaviour. The current implementation covers only JavaScript and manifest files for `package.json`, `bower.json` and `composer.json`. The linke replacement is super fuzzy, that's the reason why I started a couple of months ago a complete rewrite (see [dev branch](https://github.com/octo-linker/chrome-extension/tree/dev)).

[2016-03-01 00:31] stefanbuck commented on #63
I close this, because it's already on the todo list https://github.com/octo-linker/chrome-extension/issues/43 :wink:

[2016-03-01 00:31] #63 closed

[2016-03-07 23:40] naveed-ahmad commented on #43
+1

[2016-03-20 07:30] stefanbuck opened #67 "Support TypeScript reference tag"
## Example
`<reference path="Validation.ts" />`

## Spec
https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#1111-source-files-dependencies

[2016-03-22 16:20] callumlocke commented on #49
Middle-click would make this extension a lot better.

[2016-04-07 23:38] stefanbuck commented on #42
https://twitter.com/Octo_Linker/status/718220067184492546

[2016-04-07 23:42] stefanbuck commented on #43
**UPDATE** :smiley:

https://twitter.com/Octo_Linker/status/718220067184492546

[![][tweet]](https://twitter.com/Octo_Linker/status/718220067184492546)
[tweet]: https://cloud.githubusercontent.com/assets/1393946/14370051/9e6b2c42-fd2a-11e5-8428-0b0dec2e2a86.png

[2016-04-12 07:17] goold10004 opened #69 "git@github.com:goold10004/-cbrand-samsung-c-android-cbrver-10.18.55-cmodel-SM-N920C-cplatform-mobile-cver.git"
سكس

[2016-04-12 07:17] goold10004 commented on #69
Good

[2016-04-12 07:17] goold10004 commented on #69
A20000

[2016-04-12 10:30] #69 closed

[2016-04-14 21:40] ruffrey opened #70 "clicking octo-linker-core from package.json of this repo is 404"
![yap76wojgc](https://cloud.githubusercontent.com/assets/1668190/14544608/cc1ba58a-024e-11e6-9a2d-86e4552cda25.gif)

[2016-04-14 23:45] stefanbuck commented on #70
After renaming the extension I didn't republished the core module on npm, because I'm doing a complete rewrite of the extension.

[2016-04-14 23:45] #70 closed

[2016-05-11 22:45] stefanbuck commented on #42
rubygems support landed in the latest version see https://github.com/OctoLinker/browser-extension/releases

[2016-05-11 22:45] #42 closed

[2016-05-11 22:45] stefanbuck commented on #43
ruby support landed in the latest version see https://github.com/OctoLinker/browser-extension/releases

[2016-05-11 22:45] #43 closed

[2016-05-12 04:49] stefanbuck commented on #33
Api: http://pypi.python.org/pypi/<package_name>/json

[2016-05-12 04:52] stefanbuck commented on #32
Fixed in the latest version

[2016-05-12 04:52] #32 closed

[2016-05-12 04:58] stefanbuck commented on #36
Fixed in latest version

[2016-05-12 04:58] #36 closed

[2016-05-12 08:44] fprochazka commented on #36
Thanks!

[2016-05-12 10:49] rayshan commented on #42
:tada:

[2016-05-12 11:39] denysdovhan commented on #49
+1 to middle-click

[2016-05-12 16:10] Strajk opened #71 "Npm dependencies from package.json do not work in Pull requests"
npm deps work in file view

![image](https://cloud.githubusercontent.com/assets/697301/15221643/9d64c490-186c-11e6-8b37-12a8694c5fd8.png)

but don't it PR view

![image](https://cloud.githubusercontent.com/assets/697301/15221652/ab48fcde-186c-11e6-94ac-b232c9dd5aba.png)

btw thanks for awesome work

[2016-05-13 17:30] stefanbuck commented on #71
Thanks for filling this issue. Unfortunately it's a know issue 😞 I was writing the release notes on an airplane, so I missed to mention it there. I will try to explain why it isn't working in the PR view.

Let's start with the structure of the `package.json` file. Every dependency is declared within a subtree like `dependecies` or `devDependecies`. There are other subtrees like `scripts`, `reposit

[2016-05-16 03:02] josephfrazier opened #72 "Support for Homebrew formulae"
Here's an example, from https://github.com/Homebrew/homebrew-core/blob/0fb28a127340e7be9851d2764ab3127ab4cd520a/Formula/sngrep.rb#L14-L16

[code]

These lines should have the following links:

* [autoconf](https://github.com/Homebrew/homebrew-core/blob/0fb28a127340e7be9851d2764ab3127ab4cd520a/Formula/autoconf.rb)
* [automake](https://github.com/Homebrew/homebrew-core/blob/0fb28a127340e7be9851d2764

[2016-05-16 07:01] stefanbuck commented on #72
Yes please :+1: If you don't mind this would also be ideal to verify the current state of documentation and easiness of the project. So pleas write down any issues that you have so we can improve it. That would be super helpful.

The [bower plugin](https://github.com/OctoLinker/browser-extension/blob/master/lib/plugins/bower-manifest/index.js) should be a good point to start for you. Please also c

[2016-05-16 14:46] ReadmeCritic opened #73 "[idea] Add screenshot to README"
😅

![screenshot](https://cloud.githubusercontent.com/assets/15367484/15292991/ad6baa9a-1b3a-11e6-840c-09d87004de8c.png)

[2016-05-16 16:11] ncuillery opened #75 "Support Github Enterprise"
Hello,

Thanks for this awesome chrome extension. It would be great if it could work with Github Enterprise, i.e. the Github interface hosted on a private server (and a private host).

I manage to make it work by

- cloning the repo,
- add my host in [the manifest](https://github.com/OctoLinker/browser-extension/blob/master/chrome/manifest.json#L15)
- replace `github.com` by `location.host` [here]

[2016-05-16 17:21] #73 closed

[2016-05-17 10:51] micnic commented on #9
:+1:

[2016-05-17 11:28] stefanbuck commented on #75
Your workaround is indeed not ideal, but in general it's possible. As you already noticed, the code base isn't ready for this feature. Would you like to write a PR for this?

Basicly to make this work, three steps have to be done.

First, an options page have to be added so the user can enter a custom domain. I would recommend to store the value in the LocalStorage. Second, request permissions for

[2016-05-17 18:39] jamestalmage opened #77 "Link identifiers to declarations / assignments."
[code]

Linkify the `foo` part of `foo.bar` to the `var foo = ...` line.
Linkify the `bar` part of `foo.bar` to the `prototype.bar = ...` line.

Tern runs in the browser, and already accomplishes this. ([demo](http://ternjs.net/doc/demo/#simple))

[2016-05-17 19:49] evonsdesigns commented on #9
:+1:

[2016-05-18 15:35] stefanbuck commented on #77
This feature would transform github.com into an IDE 🚀  This is out of scope for this project, sorry. If you find an extension like this please add it [here](https://github.com/stefanbuck/awesome-browser-extensions-for-github)

[2016-05-18 15:35] #77 closed

[2016-05-18 15:52] jamestalmage commented on #77
I'm not proposing editor features, just additional links. Adding links to JS code on GitHub seems to be *exactly* the scope of this project.

[2016-05-18 15:58] jamestalmage commented on #77
The Tern demo I linked to is indeed IDE like, but I'm just referring to the "jump to" shortcut they offer (`alt-.` I believe). We could use tern to gather the same sort info that editor is using for the jump to command, and use it to linkify.

[2016-05-18 16:27] sindresorhus commented on #77
@jamestalmage Have you seen https://chrome.google.com/webstore/detail/sourcegraph-chrome-extens/dgjhfomjieaadpoljlnidmbgkdffpack?hl=en ? It's very useful. The service itself is cool too: https://sourcegraph.com

[2016-05-18 16:34] sindresorhus commented on #77
Try hovering and clicking stuff here: https://sourcegraph.com/github.com/avajs/ava@master/-/blob/lib/test.js

[2016-05-18 18:57] stefanbuck commented on #77
@jamestalmage I was aware that you were referring to the "jump to" functionality. I still think that this functionality is out of scope for the following reason. To provide this functionality in a proper way we need an AST representation of the current file + all linked files, dependencies, core modules ... I'm not saying that this is impossible, but definitely not easy to do. As @sindresorhus men

[2016-05-18 20:20] jamestalmage commented on #77
Sure. I wasn't aware of sourcegraph. I am trying it out now, but it doesn't seem to work very well on GitHub (I can't get it to work at all, actually). It also requires that you submit the repository to their service for server side processing. I want something that just works quickly.

That seems less relevant to me than the current file. I mostly want to be able to see `foo = bar.baz`, and be ab

[2016-05-18 20:57] sindresorhus commented on #77
@jamestalmage Maybe open an issue on https://github.com/sindresorhus/module-requests, requesting it then?

[2016-05-19 01:34] jamestalmage commented on #77
@sindresorhus - done

@stefanbuck - Can you add a license to the repo?

[2016-05-19 04:31] jamestalmage opened #78 "Can't resolve imports of a directory"
Assuming the following directory structure:

[code]

And in the root `index.js`, you've got:

[code]

It is unable to resolve it to `./foo/index.js`

[2016-05-19 04:34] jamestalmage commented on #78
Hmm.

This might not be what's actually wrong:

- [These lines are broken](https://github.com/babel/babel/blob/master/packages/babel-traverse/src/index.js#L10-L13)
- [These lines are not](https://github.com/babel/babel/blob/master/packages/babel-traverse/src/index.js#L40-L42)

[2016-05-19 05:22] stefanbuck commented on #78
Thanks for reporting. Looks like the [import regex](https://github.com/OctoLinker/browser-extension/blob/b0bdcd077016d0ddf828e28f61b1404583c47f0c/packages/helper-grammar-regex-collection/index.js#L3) needs some more tweaks. Would you like to create a PR?

[2016-05-19 05:35] jamestalmage commented on #78
Technically, those are export declarations. Do you care about that distinction? Should a separate regex be created? If you want the separate regex, can you point me to where I would add a line to make use of the new one?

[2016-05-19 06:01] stefanbuck commented on #78
Good shout (I just woke up 😉 ). Yes please, a new reges makes totally sense.

Please, declare the new regex in the [helper-grammar-regex-collection](https://github.com/OctoLinker/browser-extension/blob/b0bdcd077016d0ddf828e28f61b1404583c47f0c/packages/helper-grammar-regex-collection/index.js#L3) and update the [tests](https://github.com/OctoLinker/browser-extension/blob/b0bdcd077016d0ddf828e28f61b

[2016-05-19 06:10] jamestalmage commented on #78
I'm having trouble getting the tests to run (I haven't modified any code yet).

[code]

[2016-05-19 06:40] stefanbuck commented on #78
Ohhh, what a start for you, I'm so sorry. Travis is also failing (I didn't notice that). Will try to fix it asap.

[2016-05-19 06:42] stefanbuck commented on #78
The problem is this native function `[insertAdjacentHTML](https://github.com/OctoLinker/browser-extension/blob/b0bdcd077016d0ddf828e28f61b1404583c47f0c/lib/gh-interface.js#L30)` which seems to be not available in PhantomJS.

[2016-05-19 06:49] stefanbuck commented on #78
Fixed https://github.com/OctoLinker/browser-extension/pull/79 Sorry again for the trouble.

[2016-05-19 12:00] #78 closed

[2016-05-21 05:37] #72 closed

[2016-05-22 23:30] saelfaer opened #84 "links are incorrect when using rootpath"
when using modules like [Rootpath](https://www.npmjs.com/package/rootpath) you import your own modules via a path relative to the root of your app instead of to the current file.

meaning, if I
[code]
it would go go into my site's app folder and find myModule there.
however octoLinker thinks i'm requireing the myModule from the npm module called 'app'
and redirects me to that github instead.

[2016-05-23 16:45] stefanbuck commented on #84
Ohhh, that's a tricky one. Rootpath changes the default behaviour how requires statements are working in such a different way which makes it really difficult to deal with it in a clever way. At the same time it’s super edge-casey and rare used (according to the download stats). I’m open for discussions and ideas. What do you think, how should this work?

[2016-05-27 00:36] josephfrazier opened #86 "Feedback on Contribution Process"
(in response to https://github.com/OctoLinker/browser-extension/issues/72#issuecomment-219362198 and https://github.com/OctoLinker/browser-extension/pull/81#issuecomment-220519588)

Hey, I finally got around to collecting my thoughts on this. I hope they're helpful!

---

After searching around the codebase for a bit, it wasn't too hard to see how everything fit together. I ended up modeling the n

[2016-05-27 14:42] dannyfritz opened #88 "Doesn't work in conjunction with github-highlight-selected Chrome extension"
It fails to redirect when `github-highlight-selected` is also installed https://github.com/Nuclides/github-highlight-selected

![atom_2016-05-27_08-44-13](https://cloud.githubusercontent.com/assets/315788/15611349/34495ee0-23e7-11e6-9686-242663349ac0.png)

Reason the bug is opened here instead of there is because the other extension works, but breaks this one. If you feel it is a problem on their

[2016-05-28 17:17] stefanbuck commented on #88
Thanks for filling this issue. The `github-highlight-selected` extension wraps every single word with a `<spam>` which cause this issue. Luckily the fix is quite simple on this end 😉 Updating the target source from `event.target` to `event.currentTarget` in the [click-handler](https://github.com/OctoLinker/browser-extension/blob/40cc8a5533e827361f42058731886b6c210f1d0a/lib/click-handler.js#L39) sh

[2016-05-28 23:26] dannyfritz commented on #88
Yep, I can do a pull request sometime this weekend. :+1:

[2016-05-29 20:37] stefanbuck commented on #86
Thank you so much for your very useful feedback 👍

You said you were searching around to see how everything works together. How useful was the  [Overview](https://github.com/OctoLinker/browser-extension/blob/master/DEVELOPER.md#overview) document for you? Do you think it make sense to extend the document with more details?

I know exactly what you mean with over-engineered. I spent many hours to t

[2016-05-31 20:29] stefanbuck commented on #88
Will be fixed with the next release

[2016-05-31 20:29] #88 closed

[2016-06-01 01:21] jamestalmage opened #90 "Links in discussions."
It would be awesome if this also worked for code in discussions:

[code]

Also, at least for Node stuff, it would be awesome to also parse for stack traces elements that had identifiable packages:

[code]

Specifically, our regex for stack traces would be something like:

[code]

[2016-06-03 00:16] josephfrazier commented on #86
You're welcome for the feedback! Thanks for encouraging me to provide it and being so concerned with making the project easy to contribute to.

After thinking about it for a bit, I realize that I was probably too harsh in criticizing the project architecture. I think a lot of my confusion was caused by:

1. Not inspecting the commit history before diving into the code
2. Trying to find variable de

[2016-06-06 23:07] stefanbuck commented on #90
Thanks for submitting your awesome ideas!

Linking import and require statements in discussions is theoretically possible, with some constraints. This would only work for packages, but not for files. Also the language needs to be defined in the markdown ```javascript ... in order to pick the right parser.

The second one should be relative straightforward to implement.

Are you willing to implemen

[2016-06-06 23:21] stefanbuck commented on #86
All good, I was asking for feedback and you provide one 👍

The way that you describe above is the common way to start quickly with a new project, I would say. A contributor doesn't want to spend  hours in reading documentation and code. He wants to get his PR done fast as possible in a practical way. I don't think your feedback was to harsh and I really want to improve this for other contributors.

[2016-06-06 23:22] stefanbuck commented on #84
@saelfaer what do you think about my feedback? Are you agree with me?

[2016-06-07 00:04] jamestalmage commented on #90
I am, just time constrained now. I don't anticipate getting to it soon. But it's on my "someday" list. I will post here before starting any work, so anybody else - feel free to start on it before then.

[2016-06-07 10:16] saelfaer commented on #84
Yes you are absolutely right, I was not really demanding a solution merely noting that it does not work in certain occasions. Maybe just adding a disclaimer  would be enough to let users know that it does not work in that specific case.

[2016-06-07 23:07] josephfrazier opened #93 "`require.resolve('os-browserify/browser.js')` links incorrectly"
To reproduce the bug, visit https://github.com/substack/node-browserify/blob/918d62e804e0e735708e24fe53a78bca0400b7e5/lib/builtins.js#L17 and click on 'os-browserify/browser.js', then get taken to https://github.com/springload/Browser.js.

Instead, the link should go to https://github.com/CoderPuppy/os-browserify (or even https://github.com/CoderPuppy/os-browserify/blob/master/browser.js, but that

[2016-06-08 00:53] josephfrazier commented on #93
I was just thinking about how this might work, when I realized that I had tried it [before](https://github.com/OctoLinker/live-resolver/pull/3) 😝

[2016-06-11 06:10] stefanbuck commented on #28
Hi @mariusGundersen @jdreesen @petereberlecom @staabm

after a while I managed to get the Firefox version working. The PR is still open, because I have to fix some tests first. I'll announce it next week on Twitter, but you can already install it https://addons.mozilla.org/en-US/addon/octolinker/.

Please let me know if you have any questions or issues.

[2016-06-11 08:32] xenithorb commented on #28
I hate doing +1's but here it is. I don't believe people actually pay attention to the "reaction emojis"

[2016-06-11 08:41] xenithorb commented on #28
So here's the thing guys. You're familiar that 48+ supports WebExtensions.

The extension in its current state seems to work ok with: https://addons.mozilla.org/en-US/firefox/addon/chrome-store-foxified/

I don't know the functionality that well but I was able to click on a few things in some code in this very repository and it took me to what seemed like there right file.

[2016-06-15 21:21] stefanbuck commented on #28
Cool project @xenithorb. I've installed the OctoLinker from the Chrome Store in Firefox 55, but the extension wasn't working.

Anyway, I do pay attention to feature requests. In the last weeks I was working on the Firefox port which is almost done. A first version of the extension is already available in the firefox store and by end of this week the final version should be available there as well.

[2016-06-19 20:04] #84 closed

[2016-06-21 20:21] stefanbuck commented on #28
Done https://addons.mozilla.org/en-US/firefox/addon/octolinker/

[2016-06-21 20:21] #28 closed

[2016-06-21 20:25] xenithorb commented on #28
Thanks!

[2016-06-21 21:00] josephfrazier opened #106 "Does not linkify extension-less files"
For example, lines 2 and 3 of this blob should have links, but they don't, since the blob name has no extension: https://github.com/localtunnel/localtunnel/blob/9a1d48764a167ae9fb05f42efdd7de0005e9edfc/bin/client

Perhaps we should add a way to detect filetype based on the blob's [shebang](https://en.wikipedia.org/wiki/Shebang_(Unix))? In the above example, `#!/usr/bin/env node` indicates that the

[2016-06-21 21:12] stefanbuck commented on #106
Right, there is some space for improvements. I like the idea of guessing the filetype by looking at the blob type.

Similar to https://github.com/OctoLinker/browser-extension/issues/56

[2016-06-21 21:14] stefanbuck commented on #28
You're welcome. It took a while since I had to wait for Firefox 46 which added WebExtension support.

[2016-06-24 20:22] JaKXz commented on #29
Any updates on the safari extension? The developer preview for Safari 10 is actually pretty good, IMO :)

[2016-06-26 00:45] stefanbuck commented on #29
Nope, unfortanly not. Do you know if Safari 10 supports the [WebExtension API](https://wiki.mozilla.org/WebExtensions)?

[2016-06-27 23:49] zeke opened #110 "unable to resolve link"
![screen shot 2016-06-27 at 4 48 20 pm](https://cloud.githubusercontent.com/assets/2289/16399410/0a87659e-3c87-11e6-9287-a75b5f4b72b3.png)

[2016-06-27 23:49] zeke commented on #110
https://github.com/bfred-it/npm-hub/blob/507d1c2980810a28b7bff82af2e7f384245446f7/package.json

[2016-06-27 23:49] zeke commented on #110
https://www.npmjs.com/package/chrome-webstore-upload-cli

[2016-06-28 00:20] josephfrazier commented on #110
This is because https://registry.npmjs.org/chrome-webstore-upload-cli doesn't have any of the fields defined in [the live-resolver configuration](https://github.com/OctoLinker/live-resolver/blob/648a6ee493d46f7563ae0c06d4b3709911d15c79/config.json#L28-L41). Namely, the [`repository`](https://docs.npmjs.com/files/package.json#repository) field is missing from [the chrome-webstore-upload-cli package

[2016-06-28 00:27] josephfrazier commented on #110
Oh, I see that while the aforementioned live-resolver configuration has [a fallback url defined](https://github.com/OctoLinker/live-resolver/blob/648a6ee493d46f7563ae0c06d4b3709911d15c79/config.json#L27), it's not actually being used. I'll put together a fix for that.

[2016-06-28 18:29] zeke commented on #110
Sweet, thanks @josephfrazier.

I also went ahead and added the repo to that project's package.json: https://github.com/DrewML/chrome-webstore-upload-cli/pull/6

[2016-06-28 22:22] #110 closed

[2016-06-29 12:34] josephfrazier commented on #110
Sure thing, thanks for the report. Also, for introducing me to `chrome-webstore-upload-cli`. That looks useful!

[2016-06-29 23:55] josephfrazier opened #113 "GitLab Support"
Hey @stefanbuck, I was just thinking I'd like to give this a try, but I'm wondering if you have any feedback on which parts of the code would need to be extended to support it (and of course, if it's something you'd be interested in merging). So far, I've thought of:

* [`blob-reader`](https://github.com/OctoLinker/browser-extension/tree/45f54c5f10b917ffc24d4ac710e0292b442953e8/packages/blob-reade

[2016-07-01 04:47] shwetank opened #116 "Submit to Opera addons site"
It would be great for users using Opera to also have this extension from the [official addons site](https://addons.opera.com).

Chrome extensions are compatible with Opera, and even supports the .crx file format used by chrome. It just needs to be submitted to the site.

[2016-07-02 02:35] ubuntugx opened #117 "show double import"
![image](https://cloud.githubusercontent.com/assets/8335135/16537803/76f491d6-4040-11e6-9fc4-49b90d8070a3.png)
link: https://github.com/weui/react-weui/blob/master/src/components/cell/cell.js
can go to correct link, but will add additional 'import'.

[2016-07-02 08:46] stefanbuck commented on #117
Works fine for me. Do you have any other extensions installed? Disable them one by one to see which conflicts with the OctoLinker.

[2016-07-02 09:15] stefanbuck commented on #116
Oh nice I didn't know that. Will try upload a version this weekend.

[2016-07-02 09:31] stefanbuck commented on #113
Do you think there is a big demand for this? Until now, no one requested GitLab support. If anyone is interested in adding GitLab support, please let us know.

Anyway, in order to add GitLab support we have to touch parts which is also required to support GitHub enterprise #75. Maybe we should start with that first see https://github.com/OctoLinker/browser-extension/issues/75#issuecomment-21969096

[2016-07-02 14:45] ubuntugx commented on #117
@stefanbuck you are right, thank you. OctoLinker conflicts with Sourcegraph for GitHub(https://chrome.google.com/webstore/detail/sourcegraph-for-github/dgjhfomjieaadpoljlnidmbgkdffpack)
when I disabled Sourcegraph for GitHub, the bug disappear.

[2016-07-04 10:25] shakeelmohamed commented on #55
👍  for C++ as well

[2016-07-05 20:12] stefanbuck commented on #116
🎉  https://addons.opera.com/en/extensions/details/octolinker/

[2016-07-05 20:12] #116 closed

[2016-07-12 21:50] jamestalmage commented on #67
Also, require statements in `.ts` files should just work.

https://github.com/unional/ava/blob/master/index.d.ts#L1

[2016-07-14 12:44] huynh220476 opened #120 "Globe"

[2016-07-14 12:45] huynh220476 opened #121 "Onenetubeline.com"
New Name for Google share to Connect.

[2016-07-14 14:09] #121 closed

[2016-07-14 14:09] #120 closed

[2016-07-14 17:37] josephfrazier commented on #93
I'm closing this, since it was effectively resolved by https://github.com/OctoLinker/browser-extension/commit/e904209a9eff158399317be1e237fb13876ccb18. There's still the possibility of "deep linking" paths within packages as described in my previous comment, but that's a separate (and much more complicated) problem.

[2016-07-14 17:37] #93 closed

[2016-07-16 02:50] josephfrazier opened #128 "Firefox extension is not automatically published"
https://github.com/OctoLinker/browser-extension/pull/119 added automatic publishing to the Chrome extension store, but we don't yet have the same for Firefox. Something like https://github.com/kewisch/pyamo might be able to help with this.

EDIT: I also found https://www.npmjs.com/package/firefox-extension-deploy

[2016-07-21 20:20] leoj3n opened #129 "npm install symbolic link failure"
[code]

[code]

Freshly added AS SUBMODULE the repo from GitHub, and `.git/hooks` directory does not exist because:

[code]

[2016-07-21 20:25] leoj3n commented on #129
Strange; didn't realize `git` did this `gitdir:` thing for submodules!

[2016-07-21 20:36] leoj3n commented on #129
Something like this:

[code]

Or this:

[code]

Seems to solve my issue.

[2016-07-29 00:30] josephfrazier commented on #129
Good catch, I hadn't considered how the pre-commit hook installation would work if this repo is a submodule! Could you submit a pull request with your `ln -sf ...` change above?

[2016-07-29 23:12] stefanbuck commented on #117
The extension wraps the same elements like I do. So I think this can't be solve in the near feature.

[2016-07-29 23:12] #117 closed

[2016-07-30 06:14] stefanbuck opened #135 "Release notes 4.2.0"
FYI @josephfrazier

---

## Highlights
- Publish Firefox version of the OctoLinker #100
- Publish Opera version of the OctoLinker #118
- Add TypeScript support. This will let you click on `import` and `require` statements in TypeScript files. Furthermore reference tags like `<reference path="./foo.d.ts" />` are clickable as well #130

## Other Changes

- Link files from packages `foo/bar.js` #95
-

[2016-07-31 00:07] stefanbuck commented on #135
@josephfrazier please make sure that the release notes are updated https://github.com/OctoLinker/browser-extension/releases/tag/v4.2.0 Thanks

[2016-07-31 00:11] stefanbuck commented on #135
Sorry for the back and forth from my side, but I updated the notes by myself just now. The publish process was super fast this time and the notes should be in place.

[2016-07-31 00:11] #135 closed

[2016-07-31 00:13] stefanbuck commented on #135
Thanks @josephfrazier for doing this release. Will send a tweet out on Monday

[2016-07-31 00:17] josephfrazier commented on #135
Sorry for all the confusion (and thanks for fixing the release notes)! Now that we've gotten things sorted out, I think future releases will go much more smoothly. I might try to summarize the release steps somewhere (wiki, CONTRIBUTING.md, etc) for reference later.

[2016-07-31 00:23] stefanbuck commented on #135
No worries, at the end all went well.

[2016-07-31 19:17] stefanbuck commented on #67
Added TypeScript support in the latest version `v4.2.0`

[2016-07-31 19:17] #67 closed

[2016-08-02 06:13] stefanbuck commented on #129
As agreed in #140 this shouldn't be part of the repo

[2016-08-02 06:13] #129 closed

[2016-08-02 23:31] #62 closed

[2016-08-02 23:31] stefanbuck commented on #62
Will be part of the next release

[2016-08-03 04:38] josephfrazier opened #144 "#141 broke npm links"
To reproduce this problem, build the extension from c767c53fed299ded2858f8c9c792c8c5cbc5111a and use it to click on `babel-polyfill` at https://github.com/OctoLinker/browser-extension/blob/730815cc3656b3c96bf4435f97c5ae7eff28a3cb/lib/app.js#L1

There's a TypeError [here](https://github.com/OctoLinker/browser-extension/commit/c767c53fed299ded2858f8c9c792c8c5cbc5111a#diff-34a0c3d0e732cfd9a779519a0ed

[2016-08-03 05:03] stefanbuck commented on #144
Ohh no. Yes, pleases I'm looking forward to see your fix

[2016-08-04 08:28] parsingphase commented on #113
Bitbucket support also useful - let me know if you prefer a separate ticket.

[2016-08-04 21:19] #144 closed

[2016-08-04 22:29] #31 closed

[2016-08-04 22:29] #41 closed

[2016-08-04 22:42] dasilvacontin commented on #41
Awesome, thanks!

[2016-08-05 07:10] #106 closed

[2016-08-05 09:09] Koopzington commented on #37
Linking for PHP imports actually isn't that easy.
[I've written a Userscript myself](https://github.com/Koopzington/github-php-hyperlinks) to support this specific feature.
It reads out the autoload and require(-dev) configs set in a repo's composer.json and also uses the packagist API to grab their autoload configs.

It won't be enough to just rely on import statements since PHP classes can also

[2016-08-05 14:19] #45 closed

[2016-08-06 11:29] EricLanduyt commented on #113
Just discovered this extension, but at the same time that it is not supporting GitLab, so yes, definitely interested ! :)

[2016-08-08 05:31] josephfrazier commented on #29
I looked into this for a little bit, and found that while Safari doesn't support the WebExtension API, it might not be very difficult to shim it out, using something like https://github.com/kritollm/chrome-extension-api-for-safari-and-firefox

Another potential option could be to build a userscript version of the extension, so Safari users could install it using [Tampermonkey](https://tampermonkey

[2016-08-08 23:22] #33 closed

[2016-08-09 23:58] Qard opened #156 "Support gist.github.com?"
I noticed [gists](http://gist.github.com) don't get the link replacements in require calls.

[2016-08-11 05:24] #156 closed

[2016-08-16 06:37] yisibl commented on #113
I hope we can customize the configuration.

[2016-08-18 12:25] prometh07 commented on #128
Maybe https://github.com/mozilla/web-ext ?

[2016-08-18 13:53] bfred-it commented on #128
web-ext can build, lint, run and sign, but not deploy for now: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference

[2016-08-23 14:33] rprouse opened #163 "Support .NET Core Project.json"
The project.json file for .NET Core projects lists dependencies much like NPM. These dependencies tend to link to NuGet.org, but if a nuget.config file is present, it may add or change the package source. I would propose only using NuGet.org as the primary package source since finding the nuget.config file could be problematic.

The reference for project.json is at https://docs.microsoft.com/en-us

[2016-08-23 21:30] stefanbuck commented on #163
Thanks for the detailed description. Would you like to contribute that feature with some guidance and support from our side? If not, no worries I'll put it to our todo list and we will pick it up at some point.

[2016-08-24 01:28] rprouse commented on #163
I will take it if I find some time, but I am pretty busy with other projects right now. If someone else wants to pick this up, feel free. I will post a comment if I start on it.

[2016-08-24 12:36] xdumaine opened #165 "Middle click for new tab"
I'd love the option to be able to middle click a link to a new tab, as is natural. Barring that, if there's some technical limitation, being able to set a preference for default click action (same tab/new tab) would be a good alternative. Thoughts?

[2016-08-24 16:56] evaryont commented on #113
Another request for Gitlab support! Specifically, my own private instance, not just gitlab.com.

[2016-08-24 22:28] stefanbuck commented on #165
At some point we will add a settings page where you can set some defaults. In the meantime I will add the middle mouse click as another option to open a link.

[2016-08-30 20:49] stefanbuck opened #169 "Store base domain in a single location"
This issue is a subtask in order to implement #75. If you are starting to work on this issue, please leave comment so others are aware of it. Thank you!

Right now the base domain `https://github.com` is hardcoded in [various places](https://github.com/OctoLinker/browser-extension/search?utf8=%E2%9C%93&q=github.com+path%3Alib&type=Code).

Maybe we can remove the base domain form all places complet

[2016-08-30 20:57] stefanbuck opened #170 "Add options page"
This issue is a subtask in order to implement #75. If you are starting to work on this issue, please leave comment so others are aware of it. Thank you!

In order to implement features such as #75 we need an option page where a user can enter a custom GitHub Enterprise url. This issue should focus only on implementing an empty page which is accessible in all supported browsers (Chrome, Firefox and

[2016-08-30 21:05] stefanbuck opened #171 "Add input field for custom domain to options page"
This issue is a subtask in order to implement #75 and depend on #170.  If you are starting to work on this issue, please leave comment so others are aware of it. Thank you!

This task should add an input field to the option page where the user can enter a custom domain. The field is empty by default. Validation can be ignored for now. The value should be stored in the LocalStorage when the field t

[2016-08-30 21:24] stefanbuck opened #172 "Add custom domain permission when user enters a custom domain"
This issue is a subtask in order to implement #75 and depend on #171. If you are starting to work on this issue, please leave comment so others are aware of it. Thank you!

To make the custom domain working which we added in #171 we have to tell Chrome that the enter domain should be used within our extension. Typically you would add the domain to the `manifest`, but since the domain is dynamic we

[2016-08-30 23:40] josephfrazier commented on #170
Here are some relevant browser documentation pages:

* [Chrome](https://developer.chrome.com/extensions/optionsV2)
* [Firefox](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Anatomy_of_a_WebExtension#Options_pages)

[2016-08-31 22:33] #165 closed

[2016-08-31 22:37] josephfrazier commented on #49
Fixed in https://github.com/OctoLinker/browser-extension/commit/2a3302e2f965f8053ab788531be257187a742c35

(@stefanbuck, it wasn't automatically closed because the commit message format was slightly off. See https://help.github.com/articles/closing-issues-via-commit-messages/#closing-multiple-issues)

[2016-08-31 22:37] #49 closed

[2016-08-31 22:43] stefanbuck commented on #169
☝️ I'll start working on it now

[2016-09-01 20:55] #169 closed

[2016-09-05 00:08] tomByrer commented on #113
FYI: somewhat popular JS author with a repo that I see around on occasion: https://gitlab.com/Rich-Harris/buble

[2016-09-05 10:22] Spudley opened #177 "Not installable on Firefox 45."
Hi.

I just wanted to report that I tried installing this extension on Firefox, but the Mozilla store reports that it isn't compatible with FF 45.

Any chance of fixing this, please? As the extension sounds really useful.

Thanks.

[2016-09-05 19:39] stefanbuck commented on #177
The extension uses the new webextensions api which was added in [Firefox 48](https://blog.mozilla.org/addons/2016/04/29/webextensions-in-firefox-48/). Therefore it will never work in FF < 48. What prevents you from upgrading your browser to 48?

[2016-09-06 10:30] Spudley commented on #177
FF45 is the current Extended Support Release (ESR) so many corporate users will be on this version for some time (until the end of this year anyway). Guess I'll have to wait.

In the meanwhile, my copy of Chrome isn't version locked, so I'll try out the extension on that instead for now.

I've also got a question about whether you'll be porting the extension to Edge, but I'll post that as a separa

[2016-09-06 10:30] #177 closed

[2016-09-06 10:31] Spudley opened #179 "Will you be porting the extension to Edge browser?"
Hi.

Microsoft's Edge browser now supports extensions with a very similar structure to Chrome's.

Will you be porting your extension to Edge?

[2016-09-07 05:05] stefanbuck commented on #179
Supporting another browser isn't in our scope right now. However, we would accept a PR that implements Edge support.

https://developer.microsoft.com/en-us/microsoft-edge/platform/documentation/extensions/

[2016-09-07 18:48] #170 closed

[2016-09-08 14:32] cogell commented on #12
@stefanbuck I'd like to vote and get all my buddies to vote for this but the issue you link to is locked. Link in question: https://github.com/OctoLinker/browser-extension/issues/9

[2016-09-08 14:49] stefanbuck commented on #12
Thanks man 👍  I don't know why I locked the thread. Anyway it's unlocked now, but I don't think it will every become "natively" available.

[2016-09-08 14:50] stefanbuck commented on #12
btw I'm working on adding GitHub Enterprise support, but would appreciate any help from the community.

 https://github.com/OctoLinker/browser-extension/issues/75

[2016-09-08 14:58] cogell commented on #12
Awesome, thanks. I'll check it out

[2016-09-08 17:13] khoomeister opened #180 "Support for jsx & tsx files"
So there's support for react projects!

[2016-09-08 17:25] #180 closed

[2016-09-16 15:13] SpaceK33z opened #184 "Error in console on GitHub PR page"
When I go to a PR page, for example [this one](https://github.com/sindresorhus/refined-github/pull/282), I see this in my console:

[code]

[2016-09-17 06:11] stefanbuck commented on #184
Thanks for the report. We'll take a look at it as soon as possible!

[2016-09-17 07:30] stefanbuck opened #185 "Add option to set default click behaviour (same tab/new tab)"
Many users were asking for the option of being able to set the default click behaviour. With the recently added option page #178 it should be quite simple. @josephfrazier already explored how to persist the settings. Please check out his PR for the details #182.

[2016-09-22 01:18] btzsoft opened #186 "Use .babelrc aliases"
There would be great to have support for `.babelrc` aliases.

In my case I have:

[code]

and using with `import Modal from '@components/Modal'` or `const Modal = require('@components/Modal')`

Thanks guys!

[2016-10-08 20:21] Ibrahim-Islam commented on #163
I will start on this

[2016-10-08 21:05] josephfrazier commented on #163
Thanks, @Ibrahim-Islam! Let me know if you have any questions.

[2016-10-09 11:15] Ibrahim-Islam commented on #163
@josephfrazier I am having some trouble building the project. Can you explain what this [line](https://github.com/OctoLinker/browser-extension/blob/master/package.json#L17) is doing?

[2016-10-09 12:08] stefanbuck commented on #163
The `assets/manifest.json` contains values which are Firefox specific. In order to produce a valid `manifest.json` for Chrome this line removes the `applications` value and creates a copy in `/dist/`.

What issues do you have with building the project? Did you use `npm run chrome-build` to build the extension?

[2016-10-09 14:56] Ibrahim-Islam commented on #163
@stefanbuck Yes. I followed the contributing doc and tried to build according to it. Following is the error I get and I am on Windows.

[code]

[2016-10-09 15:54] stefanbuck commented on #163
Looks like the single quote isn't escaped correctly on windows. Can you change the single quote sign to an escaped double quote sign please.

[code]

[2016-10-09 16:50] Ibrahim-Islam commented on #163
@stefanbuck Thanks. That worked and also had to remove `-p` from `mkdir -p dist` windows does not seem to have a flag `-p` for `mkdir` command.

[2016-10-09 21:54] josephfrazier commented on #163
Oh yeah, I guess the build scripts weren't really set up to work on Windows... I've pulled in the double quote fix and proposed a fix for the `mkdir -p` issue as well.

Maybe we should consider running CI on Windows ([AppVeyor](https://www.appveyor.com/) is good for this) and adding `npm run package-all` to the test script. What do you think, @stefanbuck?

[2016-10-11 18:04] Ibrahim-Islam commented on #163
@stefanbuck @josephfrazier  In the following I will describe the current status and some things I can use help with.

I was able to get it working given the following `project.json`:
[code]
But in the following case, there will be an error `Uncaught TypeError: Argument 1 should be a string.` from `escapeRegexString` due to `Microsoft.NETCore.App` package because version placeholder can be an [obje

[2016-10-11 18:17] josephfrazier commented on #163
@Ibrahim-Islam Nice progress! I'd love to help out, but could you first push your work up to a branch and make a pull request? I think it'll be easier to collaborate when the code is readily available.

[2016-10-12 12:23] xwartz opened #191 "Incorrect display of commented-out code"
![image](https://cloud.githubusercontent.com/assets/4149827/19309804/adadf1f8-90b9-11e6-969c-0b85c332ae2a.png)

Live example https://github.com/xwartz/robot/blob/master/src/avatar.js

[2016-10-12 17:28] josephfrazier commented on #191
Thanks for the report, @xwartz! I've got a fix pending at https://github.com/OctoLinker/browser-extension/pull/192

[2016-10-12 22:27] #191 closed

[2016-10-12 22:28] stefanbuck commented on #191
@xwartz will be fixed in the next release. Thanks @josephfrazier for this hot fix

[2016-10-12 22:50] josephfrazier opened #194 "Travis builds are failing"
For example: https://travis-ci.org/OctoLinker/browser-extension/builds/167185335#L3256

[code]

Googling for the error message led me to https://github.com/npm/npm/issues/14042, which suggests downgrading npm to 3.10.7 for now, so that what I'll try.

[2016-10-13 05:24] #194 closed

[2016-10-17 08:49] Ibrahim-Islam commented on #86
Contributing document is referring to [older commit for loading plugins](https://github.com/OctoLinker/browser-extension/commit/2541a407c5916b7d99dc61375a56f94dfb5121f1) and currently it seems that is not required because `load-plugins.js` takes care of loading any plugins.

[2016-10-17 08:51] Ibrahim-Islam commented on #9
👍

[2016-10-17 13:01] stefanbuck commented on #86
Upps sorry, it's always hard to write and keep docs up to date. Thanks for reporting.

[2016-10-18 20:21] stefanbuck commented on #163
@Ibrahim-Islam implement this #190 🎉

[2016-10-18 20:21] #163 closed

[2016-10-18 21:53] tunnckoCore opened #203 "It eats the closing `)` in comments in source files"
For example, you have `index.js` with

[code]

When reviewing the file from github there's no closing `)`.

**BUT**, it might be just fixed in 4.5, not sure. Or it may be only in some cases. I will be lookin on that and report back.

[2016-10-18 22:13] josephfrazier commented on #203
As you mentioned in your edit, this should be fixed in 4.5 (specifically https://github.com/OctoLinker/browser-extension/commit/ad7f88276475320887bc218c1cd59a1931ebc141), which was just recently released. Therefore, I'm going to go ahead and close this, but please do report back if you find that the fix was incomplete :-)

[2016-10-18 22:13] #203 closed

[2016-10-18 22:48] tunnckoCore commented on #203
Great. I was thinking to create an issue before few months, but don't have the time, and when now it pops up that it has new version I said to myself "oo okey, i report my problem", haha. But while writing the issue, navigate to some of my projects and didn't seen the problem, so.. Yea.

Probably you right. And yea, I'll report if something is wrong/incomplete.

[2016-10-19 23:24] stefanbuck commented on #90
@jamestalmage I just started to work on linking code in PR discussions.  Will be part of the next release, JTLYK 😉

[2016-10-19 23:38] stefanbuck commented on #90
I just realised that we're talking about different discussions, I think. I'm talking about those kind of code blocks
![screen shot 2016-10-20 at 01 35 14](https://cloud.githubusercontent.com/assets/1393946/19541295/843a3726-9665-11e6-98ec-44bf17c5335a.png)

and you probably about code block within an issue, right?
![screen shot 2016-10-20 at 01 36 04](https://cloud.githubusercontent.com/assets/139

[2016-10-20 09:38] bfred-it commented on #185
I've been wondering if the lookup could be done differently to allow this specific behavior (and perhaps speed up the whole process with direct links)

Some imports, like `require('../file.js')` can be simple links to that file on GitHub. If they're not found, GitHub will show a 404.

Imports from npm can use ghub.io links, e.g. <code>require('[image-promise](http://ghub.io/image-promise)')</code>

[2016-10-20 17:39] josephfrazier commented on #185
There's some discussion about the idea of direct links in https://github.com/OctoLinker/browser-extension/pull/87

Technically, `require('../file.js')` could refer to `../file.js/index.js`, but that's presumably a very small edge case at most.

[2016-10-26 05:00] #184 closed

[2016-10-26 05:02] stefanbuck commented on #184
Fixed

[2016-11-14 22:36] stefanbuck opened #209 "How to communicate features?"
I have the feeling that a lot of features are not well explained to the users. For example did you know that the linking also works in Pull request? There is a list in the readme which outlines roughly what kind of languages and files are supported, but that's not enough.

Do you have an idea of how we could do this? I was thinking about videos / images and gifs, but they aren't easy to maintain.

[2016-11-18 17:20] stefanbuck commented on #209
What about adding a short animation to visualize the link replacement. On the settings page the user can turn off/on this hint.

![](https://cloud.githubusercontent.com/assets/1393946/20439120/74bed740-adba-11e6-826b-98eebd69b395.gif)

[2016-11-22 20:55] breyno127 opened #212 "Add support for Emacs packages"
This should be relatives straightforward. Most emacs dependencies are declared in a [`Cask`](https://github.com/cask/cask) file, `require`'d directly in a file with a `.el` extension or declared with [`use-package`](https://github.com/jwiegley/use-package)

This should be pretty straightforward and similar in implementation to [when `vimrc` support was added. ](https://github.com/OctoLinker/browse

[2016-11-28 18:11] nikitavoloboev commented on #29
I too would love for Safari to be supported

[2016-11-30 23:32] stefanbuck commented on #185
Implemented see #216

[2016-11-30 23:32] #185 closed

[2016-12-06 21:14] david-w-millar commented on #9
👍

[2016-12-08 00:28] stefanbuck commented on #86
We should keep this in mind and improve the documentation whenever possible. Since there is no concrete action in this issue, I'm gonna to close this issue.

[2016-12-08 00:28] #86 closed

[2016-12-08 02:24] gluons opened #225 "[Firefox] "Open link in new tab" has been blocked by Firefox pop-up blocker."
[4.6.0](https://github.com/OctoLinker/browser-extension/releases/tag/4.6.0) has `Open link in new tab` option. After I use this option, I see this issue.

Using on **Firefox Beta** version **51.0b6 (64-bit)**.

![34](https://cloud.githubusercontent.com/assets/4688092/20995166/c93f51b0-bd27-11e6-90c5-62c1123ee220.png)

[2016-12-08 02:39] gluons opened #226 "Incorrect"

[2016-12-08 02:43] #226 closed

[2016-12-08 19:01] #90 closed

[2016-12-08 21:02] stefanbuck commented on #225
Thanks for reporting. That's a bit tricky, because the extension needs to guess / fetch the url first before I can call the `window.open` function. Firefox treats this as a regular popup. I'm not sure if this is even possible without a bigger refactoring. In the meantime the only workaround is to enable pop-ups for github.com.

[2016-12-09 02:48] gluons commented on #225
Is it posible to use [`tabs.create()`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/tabs/create)?

[2016-12-10 00:37] stefanbuck commented on #225
Ohh nice, this looks promising. Thanks for the hint

[2016-12-13 00:14] #225 closed

[2016-12-14 07:57] stefanbuck commented on #90
@jamestalmage linking in discussions and md files is available since today https://github.com/OctoLinker/browser-extension/releases/tag/4.7.0

[2016-12-14 10:59] dasilvacontin commented on #209
I think ideally you shouldn't need to communicate the features. It should just work wherever you'd expect it to work. Knowing the premise, ie 'click to navigate through any import', should suffice.

[2016-12-19 12:31] azemoh opened #231 "Can't resolve "import" link to index.js"
Should resolve `import "/folder/folder"` link to `"/folder/folder/index.js"`.
This works for `require`.

[2016-12-19 22:13] stefanbuck commented on #231
A path with a leading slash means that this path is absolute. For example `/Users/foo/Desktop/test.js` is an absolute path. In a regular project you will never define your path like this. Anyway, the OctoLinker loading behaviour is aligned with the JS implementation.

![screen shot 2016-12-19 at 23 10 00](https://cloud.githubusercontent.com/assets/1393946/21330978/81e99fce-c640-11e6-9f8d-d0692ccbd

[2016-12-19 22:13] #231 closed

[2016-12-20 07:52] gluons commented on #225
It seems like [4.7.0](https://github.com/OctoLinker/browser-extension/releases/tag/4.7.0) hasn't been released on AMO, right?

![octolinker add ons for firefox](https://cloud.githubusercontent.com/assets/4688092/21342173/38c5970c-c6c3-11e6-88e8-9f1eb51596d5.png)

[2016-12-20 09:30] stefanbuck commented on #225
I know 😞  They blocked the last update, because the GA tracking especially getting `analytics.js` from a remote server didn't meet the requirements. I'm working on a solution already. Sorry, I should have communicated it earlier.

[2016-12-20 10:03] gluons commented on #225
🆗
🕐 ▶️ 🆕 🆙✔️  😃

:bowing_woman: :bowing_woman: :bowing_woman:

[2016-12-22 14:17] tunnckoCore opened #233 "Support html imports"
a la WebComponents?

[code]

[2016-12-22 16:29] stefanbuck commented on #233
I would love to implement it, but it's not that easy and I think even impossible. How do I know where the linked file is located? There is no schema like in NodeJS project to follow. Maybe you have something in mind?!

[2016-12-22 16:58] tunnckoCore commented on #233
Hm. Don't know. But why how, it will be in the same directory where the file is. I mean, I think it can be the same why how you resolve relative require/import paths.

[2016-12-22 17:09] tunnckoCore opened #235 "Support `jsnext:main` and `module` in package.json"
I believe simple they can be added here [lib/plugins/npm-manifest/index.js#L34-L44](https://github.com/OctoLinker/browser-extension/blob/c2ceab4373a7d297bf2b52fc72dafde57276df66/lib/plugins/npm-manifest/index.js#L34-L44).

Or at least, one of them. I believe [`jsnext:main`](https://github.com/rollup/rollup/wiki/jsnext:main) was suggested by Rollup creator. But `module` would become "standard" one

[2016-12-22 17:36] tunnckoCore commented on #233
Hm. So, okey, I think I can try to do something :)

[code]
that's the classes, file extensions are many haha

[2016-12-22 18:20] stefanbuck commented on #233
I wasn't aware of that. As you already mention the [lib/resolver/relative-file.js](https://github.com/OctoLinker/browser-extension/blob/master/lib/resolver/relative-file.js) is be able to link the files. Maybe you have to tweak the `relative-file` resolver slightly. If you open a work in progress PR, I can help you and give you early feedback.

[2016-12-25 14:38] tunnckoCore opened #236 "Bug in require regex"
It seems it fails to detect when there is spaces between parens and the string literal

something like

[code]

Not sure.

~~https://github.com/jonschlinkert/requires-regex may help~~ actually it not helps for that case

[2016-12-26 20:02] josephfrazier commented on #235
Thanks for the suggestion! As you've noticed, it should be pretty straightforward to implement. Would you like to try it? [CONTRIBUTING.md](https://github.com/OctoLinker/browser-extension/blob/master/CONTRIBUTING.md) has a development guide, and I'd be happy to help with any issues you encounter.

For reference, here are some previous pull requests that have changes very similar to the ones that a

[2016-12-26 20:35] josephfrazier commented on #236
Thanks for the report! The relevant regex is located [here](https://github.com/OctoLinker/browser-extension/blob/beec18f5baf8bf9d5fba806b6e8a6b3caa0da692/packages/helper-grammar-regex-collection/index.js#L1), and should need only small changes to get this working. However, its tests actually ensure that the following *isn't* matched (see the top/bottom lines highlighted [here](https://github.com/O

[2016-12-26 23:00] tunnckoCore commented on #236
Yea, I can come with PRs soon, seen these things are easy fixes. To not repeat, answer is the same for #235 too :)

[2016-12-26 23:01] tunnckoCore commented on #235
thanks for the links

[2016-12-26 23:20] josephfrazier commented on #236
Awesome, I look forward to seeing the PRs!

[2016-12-27 10:48] shacharz opened #239 "Add support for resolve.root in webpack"

[2016-12-28 17:53] josephfrazier commented on #239
Hi @shacharz, thanks for the suggestion! Could you provide a description (or, preferably, a link to documentation) of how this should work?

[2016-12-29 08:39] shacharz commented on #239
https://webpack.github.io/docs/configuration.html#resolve-root
I was thinking of being able to add those roots in the octolinker options, and maybe check those that you want out of all those you've used. If for example you're looking at a different repository that the currently used roots somehow mess with it.

[2016-12-30 14:30] josephfrazier commented on #225
Hi @gluons, [version 4.7.1](https://github.com/OctoLinker/browser-extension/releases/tag/v4.7.1) has been released and it is now available on AMO: https://addons.mozilla.org/en-US/firefox/addon/octolinker/

[2016-12-30 16:34] gluons commented on #225
@josephfrazier Oh! Thank you very much for informing me. It works very well. Love it ❤️

[2017-01-02 14:57] tunnckoCore opened #245 "Stopped working in last week or so"
Just stopped. Tried to remove it and re-add it, but no. Tried to restart the browser and etc.

If this helps

![2017-01-02-16 59 22_1280x1024_scrot](https://cloud.githubusercontent.com/assets/5038030/21591431/7ba44f2a-d10c-11e6-8e46-7d004b2ff313.png)
![2017-01-02-16 58 13_1280x1024_scrot](https://cloud.githubusercontent.com/assets/5038030/21591432/7ba5a640-d10c-11e6-8e60-0d22b809a3f7.png)

[2017-01-02 19:25] josephfrazier commented on #245
Are you sure this is caused by the extension? I just disabled it, loaded https://github.com/start-runner/start-preset/blob/master/lib/index.js, and saw the same errors. In my case, uBlock is preventing github.com from collecting _its_ analytics. I confirmed this by turning off uBlock on that url, reloading, and seeing no errors.

[2017-01-02 19:37] josephfrazier commented on #239
Thanks for the link. Another way this could work is that the extension reads the `webpack.config.js` file (similar to how https://github.com/OctoLinker/browser-extension/issues/186 would work). That way, you wouldn't have to manually configure it.

[2017-01-02 19:49] tunnckoCore commented on #245
I'm not sure. And not sure about that exact errors. But it was working before week. Didn't add any new extensions or anything. I was always with all of these extensions for last year or so.

And to be clear. It's not only on that repo. It not works anywhere - other repos, readmes, issues - nowhere.

[2017-01-02 20:15] shacharz commented on #239
even better :)

[2017-01-02 20:30] josephfrazier commented on #245
Hmm, that is odd. Are you also able to reproduce the issue in Firefox? An easy way to launch Firefox with the extension loaded is `npm run firefox-open` from the root of the repository.

Thanks for the clarification about all urls being broken. I just tested the `start-runner` one to be sure that my setup is closer to yours.

[2017-01-02 22:19] tunnckoCore commented on #245
nah, i even didn't have firefox on the machine :D but yea installed it and the extension is working when run firefox-open

[2017-01-06 19:30] josephfrazier commented on #245
Judging by the filenames in [the second screenshot above](https://cloud.githubusercontent.com/assets/5038030/21591432/7ba5a640-d10c-11e6-8e60-0d22b809a3f7.png), I really think the errors are coming from github's scripts and are unrelated to this extension.

Nevertheless, if you can track down the commit that broke things for you, we might be able to figure out if something else is going on. `git b

[2017-01-09 14:17] tunnckoCore commented on #245
Omg ;d how I will know what break the things, when the extension is always auto updated - first. And second, I'm pretty busy and don't think that some user can know better than the creator/maintainer. It's not user job to investigate so deep.

And I said that i'm not sure for the pics. It is possible these errors to be there always. But I didn't change anything in the browser side (exts and etc) n

[2017-01-09 17:19] josephfrazier commented on #245
Ok, let me back up for a minute. Are you sure the extension is actually broken? After taking a closer look at the aforementioned [screenshot](https://cloud.githubusercontent.com/assets/5038030/21591432/7ba5a640-d10c-11e6-8e60-0d22b809a3f7.png), it seems that the links are being detected and inserted, since the pink dots appear on the left side of the lines that the links are on.

If you visit that

[2017-01-09 19:55] tunnckoCore commented on #245
Yea it is broken. And yes there still are pink dots, but when click on the link it not works - just the "Processing" tooltip. It is expected to move me to the homepage of the package, if Ctrl + Click it should open it in new tab.

[2017-01-09 20:14] josephfrazier commented on #245
Thanks for the clarification, that makes things easier to diagnose. If you go to https://github.com/start-runner/start-preset/blob/99acad86a67888eb4d92237370aa347b390fcc6f/lib/index.js#L1 and click on `'start'`, it shows the `Processing  ⏳` tooltip, but never actually redirects you to https://github.com/start-runner/start?

If so, it sounds like your machine may not be able to contact the [service

[2017-01-09 21:28] tunnckoCore commented on #245
yep

[code]

no

[2017-01-09 21:44] tunnckoCore commented on #245
updated to latest chrome stable version

![2017-01-09-23 43 24_1280x1024_scrot](https://cloud.githubusercontent.com/assets/5038030/21784610/0d13845e-d6c5-11e6-8e38-4d072b9aae10.png)

extension removed and again added:

[code]

[2017-01-09 22:13] josephfrazier commented on #245
Thanks for the additional info. It's good to see that https://githublinker.herokuapp.com is working, at least. Can you find a previous version of the extension that does work correctly? They are the `chrome-octolinker-X.Y.Z.zip` files listed on the [releases page](https://github.com/OctoLinker/browser-extension/releases), and they can be unzipped and loaded into Chrome as described here: https://d

[2017-01-09 22:39] tunnckoCore commented on #245
Yep, just seen you comment and was doing exactly this. It seems 4.7.0 works.

[code]

[2017-01-09 22:56] tunnckoCore commented on #245
Also just noticed that the options page is empty (just github btns star), but in 4.6.0 there was few options listed like "debug mode", "open url in new tab by default" and etc.

[2017-01-10 00:21] josephfrazier commented on #245
That doesn't sound right at all. Every option from 4.6.0 should still be present in 4.7.1. Are you sure you haven't made any changes to the extension source code?

Since the `firefox-open` script worked for you earlier, I wonder if a similar `chrome-open` script also would. Could you check out the code in https://github.com/OctoLinker/browser-extension/pull/247 into a fresh directory, then run the

[2017-01-10 10:00] tunnckoCore commented on #245
yea i'll try later, but it also is not shown in the official latest browser extension from the store

[2017-01-10 22:05] stefanbuck commented on #245
Maybe you have two OctoLinker instance running (local + from the store) in your Chrome. Please ensure that only one version of OctoLinker is enabled.

[2017-01-10 23:54] tunnckoCore commented on #245
Nope nope. I don't. I disabled it when started trying local things. I'm currently using local 4.7.0, until the problem is fixed.

[2017-01-11 10:20] stefanbuck commented on #245
That's really strange. Do you see any errors in the background script console while using the extension? The console is available from the extensions page.

<img width="417" alt="screen shot 2017-01-11 at 11 16 37" src="https://cloud.githubusercontent.com/assets/1393946/21844591/86bbb22e-d7ef-11e6-8962-ad0ced810755.png">

[2017-01-11 10:25] tunnckoCore commented on #245
i'll see later, maybe there should have smth

[2017-01-18 20:57] josephfrazier opened #248 "Unhandled promise rejection in storage.js"
One of the Firefox extension reviewers left this comment about version 4.7.1:

I haven't yet reproduced the problem myself, as I primarily use Chrome, but the relevant code appears to be on [lines 14 and 20 in storage.js](https://github.com/OctoLinker/browser-extension/blob/0db32d949b110152f3689fab183c534272c97efb/lib/options/storage.js#L14-L20). As suggested in the above comment, it should be pre

[2017-01-18 22:19] stefanbuck commented on #248
A wrapper around the storage sounds like a good idea :+1:

[2017-01-18 22:36] josephfrazier commented on #248
I was able to reproduce the issue by running:

[code]

and navigating to https://github.com/OctoLinker/browser-extension/blob/master/package.json

I'll keep looking into it.

[2017-01-20 11:29] stefanbuck opened #250 "Need help with RegExp for Go import statements"
I started working on adding support for Go #46. The beginning was quite simple, since the import paths are often just a repository url like `import "github.com/spf13/cobra`. I'm aware of [custom import paths](https://texlution.com/post/golang-canonical-import-paths/), which I'll tackle in a later PR.

Back to my issue. Go has two kind of import statements, singe and multiple.

### Single import

[

[2017-01-20 23:58] stefanbuck commented on #250
Quick and dirty line parser so you get a rough understanding of the idea  https://github.com/stefanbuck/browser-extension/blob/51dc9ba6ca143ab69a4b26d852279a8853b15e83/lib/plugins/go/index.js#L7-L47

[2017-01-24 19:34] stefanbuck commented on #248
Another option would be to use [rfpify](https://www.npmjs.com/package/rfpify) to promisify the chrome extension api directly.

[2017-01-25 14:49] #250 closed

[2017-01-25 21:17] josephfrazier commented on #248
`rfpify` looks pretty nifty, but the `chrome.storage` functions have an additional complication of putting their errors into `chrome.runtime.lastError`, so I'm hoping to find a wrapper than can properly deal with that. I've pushed up some work-in-progress to https://github.com/OctoLinker/browser-extension/pull/258

[2017-01-29 20:58] stefanbuck opened #264 "Add support for custom import paths in go"
Right now, only the common go hosting sites like github.com, bitbucket.org, launchpad.net, hub.jazz.net and gopkg.in are supported by OctoLinker. Import statements with a custom path like `import "company.com/foo/bar"` doesn't work.

If you want to see this feature implemented, thumbs up this issue.

[2017-01-29 23:19] #248 closed

[2017-01-30 21:38] stefanbuck commented on #245
Hi @tunnckoCore, can you check out the latest master and try it again. @josephfrazier did some refactoring in this area and maybe this solved the issue.

[2017-01-30 21:42] stefanbuck commented on #46
@cocap10, @raphink, @vbehar, @SiegfriedEhret, @jamlen, @sublimino, @maxbeatty, and @jeffandersen

I'm happy to announce that the upcoming OctoLinker will come with go support. See #253 for details. We will publish a new version in a few days.

[2017-01-30 21:42] #46 closed

[2017-01-30 21:45] stefanbuck commented on #209
I agree with you @dasilvacontin, but since we don't have full coverage for all languages and every single reference it can be confusing. I think the dot is a good midway solution.

[2017-01-30 21:45] #209 closed

[2017-01-30 21:55] dasilvacontin commented on #209
Fair enough. I'll let you know if it ever conflicts with some other extension.

[2017-02-01 00:35] josephfrazier opened #271 "Cannot resolve module names containing dots"
For example, `./modules/es6.symbol` at https://github.com/zloirock/core-js/blob/0bb657cfc7834d03fd68c48a1cba70f2ccab20c0/shim.js#L1 should resolve to https://github.com/zloirock/core-js/blob/0bb657cfc7834d03fd68c48a1cba70f2ccab20c0/modules/es6.symbol.js, but it doesn't.

[2017-02-02 13:33] momoneko opened #275 "Doesn't work for go packages on Firefox"
Hi. The extension does not work for go imports on Firefox. Tested on Mac OS X and Ubuntu.

[2017-02-02 14:14] josephfrazier commented on #275
Hi @momoneko, can you provide some more information about your testing? Specifically, which version of Firefox are you using, and on what page does the extension not work? For example, the imports shown here work correctly for me in Firefox 51.0.1 (64-bit):

https://github.com/golang/go/blob/329fff0db01dd1252444cf106dffe72ba20ddbc8/src/archive/tar/common.go#L16

[2017-02-02 14:56] momoneko commented on #275
On both Mac and Ubuntu it's 51.0.1 (64-bit). I installed it from the Mozilla Store. OctoLinker is at version 4.7.1.

It doesn't work on the page you linked to, Mac and Ubuntu alike. It does work for Python.

[2017-02-02 15:24] josephfrazier commented on #275
Oh, that's because the latest version (4.8.0, which is the first to include Go support) was released only 2 days ago, and hasn't yet been approved for release by the folks at the Mozilla Store. I don't know how long it typically takes them to review the release, but the extension is currently at position 66 in the review queue.

[2017-02-02 19:16] #271 closed

[2017-02-02 19:17] stefanbuck commented on #56
Fixed by @josephfrazier with https://github.com/OctoLinker/browser-extension/issues/271

[2017-02-02 19:17] #56 closed

[2017-02-05 07:15] tim-phillips opened #277 "Show status bar"
Chrome Version 56.0.2924.87 (64-bit)
OctoLinker latest

OctoLinker should show browser status bar when mousing over a link

[2017-02-05 12:58] stefanbuck commented on #277
That's not possible, unfortunately. We don't know the target URL while rendering the links. The process to find the target URL is in many cases request heavy and therefore we can't do this for every link by default on extension start. The actual click on a link will kick off the process.

[2017-02-06 02:36] xovel opened #278 "Object.entries is not a function"
OctoLinker cannot work already.

**Browser name:**
QQBrowser

**Browser version:**
v9.5.3
Chromium 53.0.2785.104

**OctoLinker version:**
4.8.0

**URL and line number where issue occurs:**

storage.js:39Uncaught (in promise) TypeError: Object.entries is not a function(…)

**Expected behavior:**

**Actual behavior:**

[2017-02-06 04:18] josephfrazier commented on #278
Hi @xovel, thanks for reporting the issue! I suspect this is related to the recent removal of `babel-polyfill` in https://github.com/OctoLinker/browser-extension/pull/258#issuecomment-275813737.

Are you able to update your browser to a more recent version? It looks like your current browser is a fork of an outdated version of Chromium, which may not support `Object.entries`. Furthermore, privacy

[2017-02-06 06:02] xovel commented on #278
Thanks for your reply in this issue @josephfrazier . The version of my QQBrowser is currently newest.

`Object.entries` is a new `ES7` features and `Chromium 53` does not support it. Unfortunally, I've get used to use this browser in my work, change it to another maybe result in a series of problems. Anyway, I also use `Chrome 55.0.2883.75` in my computer, and `OctoLinker 4.8.0` work very well in

[2017-02-06 22:34] stefanbuck commented on #277
@babenzele is this a big issue for you and if so why? Is this a trust thing?

[2017-02-06 22:56] babenzele commented on #277
@stefanbuck Gotcha re: lazy loading the resource.

It's not a trust thing. I was curious about where some imports were coming from and thought it could be handy to hover over the import to see the url, mostly to see the github org/user the repo is located, without having to click through.

[2017-02-06 23:02] josephfrazier commented on #277
Hmm, it might not be hard to add a `mouseover` listener that starts the URL resolution process and shows the results in a tooltip (which there is already code for).

@babenzele, if you're curious, there's some more discussion of making the links into actual `<a href>` elements in https://github.com/OctoLinker/browser-extension/pull/87 and https://github.com/OctoLinker/browser-extension/issues/49#i

[2017-02-06 23:05] #278 closed

[2017-02-08 00:08] stefanbuck commented on #275
There is not much progress. It's now on position 48 😞

[2017-02-08 12:19] Arkni commented on #236
Hi!
Any update regarding this issue ?

[2017-02-08 13:47] tunnckoCore commented on #236
I'm busy, but PR would be easy. :)

[2017-02-08 21:31] momoneko commented on #275
Is there any place where I could keep track of it? Or it's limited to owners/contributors?

[2017-02-08 22:18] stefanbuck commented on #275
Nope, it's only visible to us. I'll keep you updated.

[2017-02-10 00:44] reconbot opened #280 "Considering editor extensions"
This is such a useful tool for my day to day that I miss it when I'm not in a browser. I had a short [discussion on twitter](https://twitter.com/reconbot/status/829726860879785984) about it and was urged to start a discussion here.

I figure one could pull the `universal-resolver` out of [live-resolver](https://github.com/OctoLinker/live-resolver) into an npm package and that could be the basis of

[2017-02-10 19:10] josephfrazier commented on #280
This sounds like a great idea! As I thought about it, it occurred to me that you could put together a quick-and-dirty demo by exporting [`doRequest`](https://github.com/OctoLinker/live-resolver/blob/40020bd09833037b1719d8f264bae2729b536ed6/src/plugins/universal-resolver.js#L29) from the `universal-resolver` file, then installing `live-resolver` from github and using it in your code as follows:

[c

[2017-02-13 08:07] stefanbuck commented on #275
4.8.0 is now available

[2017-02-13 08:07] #275 closed

[2017-02-13 17:40] stefanbuck commented on #280
@reconbot thanks for kicking off this discussion here and sorry for the late response (I had a busy weekend).

Can you tell me, what are the missing parts? Is it the linking of third-party dependencies or linking of relative files? At the end we should definitely support both, but what do you think is more valuable for a first proof-of-concept plugin?

_General thoughts_

Since most likely the lis

[2017-02-13 19:06] Arkni commented on #236
I think the only changes that needs to be done are:
[code]

Is that right?

[2017-02-13 19:38] josephfrazier commented on #236
That looks pretty good, @Arkni! Would you like to open a pull request with the changes? I think we should also adjust the regex and tests to allow any amount of whitespace around the quotes.

[2017-02-13 21:30] Arkni commented on #236
See #281

[2017-02-13 22:17] #236 closed

[2017-02-16 03:32] josephfrazier opened #284 "Bad links in Rust commit comment"
**Browser name:** Chrome

**Browser version:** Version 56.0.2924.87 (64-bit)

**OctoLinker version:** git master (cc1bae8b95d60d14c058ce1e610e84619395bfeb)

**URL and line number where issue occurs:** https://github.com/brson/annotated-std-rs/commit/e50c2b16455ceff29488bf1f058b6c10906ef990#commitcomment-12409226

**Expected behavior:** no links in commit comment

**Actual behavior:** both `it` and

[2017-02-18 17:46] josephfrazier opened #287 "npm links should fallback to npmjs.com if repo url 404s"
(This is really a [live-resolver](https://github.com/OctoLinker/live-resolver) issue, but it's probably easier to track it here)

**Browser name:** Chrome

**Browser version:** Version 56.0.2924.87 (64-bit)

**OctoLinker version:** 4819b6ad4393ee40849623ba55bc0f2c75f6b539

**URL and line number where issue occurs:** https://github.com/Financial-Times/polyfill-service/blob/c97bb6f7a80be2d14f0311180

[2017-02-19 10:39] #287 closed

[2017-02-20 20:39] vikeri opened #288 "Support for Clojure(Script)"
It would be very neat to have this working for Clojure(Script) as well:

[code]

[2017-02-21 19:35] stefanbuck commented on #288
I'm not familiar with Clojure(Script). Can you describe the expected behaviour, please.

[2017-02-21 19:37] stefanbuck commented on #245
@tunnckoCore any news from your side?

[2017-02-21 19:49] tunnckoCore commented on #245
D'oh, i forgot that, i'll try in a bit.

[2017-02-22 21:09] dawsbot opened #290 "[feature request] css @import linking"
**Browser name:** Chrome

**Browser version:** Version 56.0.2924.87 (64-bit)

**OctoLinker version:** 4.8.0

**URL and line number where issue occurs:** N/A

**Expected behavior:** Link css `@import`'s

**Actual behavior:** OctoLinker does not interact with or anable linking for [`@import`](https://developer.mozilla.org/en-US/docs/Web/CSS/@import)'s. See [this css file](https://github.com/Formidab

[2017-02-22 21:29] stefanbuck commented on #290
Thanks for the suggestion. This should be easy to implement. Would you like to give it a try? #81 is a good example for this. The regex part changed slightly recently, see #282 for details. I'm happy to support you with any questions you may have.

[2017-02-27 15:01] r-obert opened #294 "feature request"
Hi,
Love the extension, but sometimes i want to know where clicking a link would take me.
What about adding a popover/tooltip that would tell you where a link goes?

[2017-02-27 15:02] r-obert commented on #294
Hm sorry, I think "open in a new tab" also solves this problem for me.

[2017-02-27 15:02] #294 closed

[2017-02-28 00:24] nafg commented on #113
Hi, what's the status of this?

[2017-02-28 13:50] josephfrazier commented on #245
I'm closing this one due to inactivity. There doesn't seem to be much we can do here, especially given that @tunnckoCore is using the extension with a custom patch.

[2017-02-28 13:50] #245 closed

[2017-02-28 13:52] josephfrazier commented on #113
Hi @nafg, I haven't done any more work on this. If you or anyone else would be interested in picking it up, I'd be happy to provide pointers.

[2017-02-28 14:16] nafg commented on #113
I'm all ears :).

On Tue, Feb 28, 2017, 8:52 AM Joseph Frazier <notifications@github.com>
wrote:

[2017-02-28 15:44] josephfrazier commented on #113
Awesome, here's a (from memory) list of tasks to be done, ordered from easiest to hardest:

* [ ] Change [this line](https://github.com/OctoLinker/browser-extension/blob/298eb679ade7daaa29f83b6a15030ce585bbbf9b/lib/click-handler.js#L52) to just read the current domain, instead of hard-coding github.com
* [ ] Get the changes in [this pull request](https://github.com/OctoLinker/injection/pull/3) mer

[2017-02-28 17:49] stefanbuck commented on #113
One more thing, the additional permission for gitlab.com should be declared as a optional permission https://developer.chrome.com/extensions/permissions. I'm happy to help you with this.

[2017-03-03 09:27] ousennin commented on #44
I'm thinking on writing a haskell plugin. It's not hard to implement, but for me, as I'm not an experienced developer, it's hard to implement it in a way that would fit the overall architecture and style. There are some nuances with haskell.
The path for imported libraries is whether current directory or it is specified in a file *.cabal in the main project's directory. So, we have to get the caba

[2017-03-03 21:24] stefanbuck commented on #44
Thanks for the very detailed description. Fetching additional information from another file is not possible at the moment, but I have some ideas in mind. I think I'll pick this up soon.

[2017-03-04 06:39] josephfrazier opened #298 "package.json `main` field linking to external package"
**Browser name:** Chrome

**Browser version:** Version 56.0.2924.87 (64-bit)

**OctoLinker version:** d685d80a46238ba695d85210c8e451fbe9e1a5be

**URL and line number where issue occurs:** https://github.com/github-tools/github/blob/22b889cd48cd281812b020d85f8ea502af69ddfd/package.json#L6

**Expected behavior:** link shouldn't resolve, since dist/ file doesn't exist in repo

**Actual behavior:** re

[2017-03-04 06:43] josephfrazier commented on #298
Alternatively, we could use https://unpkg.com to provide a working link such as https://unpkg.com/github-api/dist/components/GitHub.js

[2017-03-04 07:54] josephfrazier opened #300 "Paths should fallback from `dist` to `lib` to `src`"
**Browser name:** Chrome

**Browser version:** Version 56.0.2924.87 (64-bit)

**OctoLinker version:** d685d80a46238ba695d85210c8e451fbe9e1a5be

**URL and line number where issue occurs:** https://github.com/rauschma/enumify/blob/692021e4317b59b15e49090d1659e5c102004678/package.json#L4

**Expected behavior:** clicking on `./lib/enumify.js` (which doesn't exist) should navigate to [`./src/enumify.js

[2017-03-04 18:49] #298 closed

[2017-03-06 19:34] #290 closed

[2017-03-06 20:51] josephfrazier commented on #290
Glad to help! @stefanbuck did the real work though :)

[2017-03-08 23:03] #233 closed

[2017-03-09 02:30] gluons commented on #9
👍

[2017-03-10 02:51] bfred-it opened #310 "Don't show the update notifications"
**Browser name:**

Chrome

**Browser version:**

57

**OctoLinker version:**

4.9.0

**Expected behavior:**

Please stop notifying me that OctoLinker has updated.
My browser doesn't bug me, the extensions shouldn't either.

[2017-03-10 06:08] stefanbuck commented on #310
Isn't it nice to know what we added to OctoLinker?

We also communicate new features on Twitter [@OctoLinker](https://twitter.com/octolinker). Compared to our active users (more than 12.000) we have less than 100 followers on Twitter. Therefore I added long time ago the notification to reach a broader audience.

Anyway, we can add an option to disable the notification.

[2017-03-10 08:10] bfred-it commented on #310
Yes and no. I appreciate any updates but I don't really go read the release notes of every version of every software I manually or automatically update. There's a lot of notification noise already

An option would be nice

[2017-03-10 15:23] #44 closed

[2017-03-10 15:24] josephfrazier commented on #44
I went ahead and closed this due to #308, but we could create a new issue for reading `.cabal` files, or re-open this one, if you'd like.

[2017-03-10 17:08] josephfrazier opened #311 "Test click-handler's `fetch` calls"
https://github.com/OctoLinker/browser-extension/commit/642b4eb47bbcce59df2eb78f2415c539adb8c354#diff-139bc3fd7bb5865bb64075715666a788 removed some tests that ensured the click handler calls `fetch` with the correct arguments (see https://github.com/OctoLinker/browser-extension/pull/306#discussion_r104506996). Ideally, we should re-introduce these tests, perhaps with the help of a tool like:

* htt

[2017-03-11 14:20] josephfrazier commented on #300
I ran across an edge case that I might try to fix later, so I'll reopen this. The problem here is that only the target path uses the fallback behavior, rather than the current file path joined with the target path.

https://github.com/jsdom/whatwg-url/blob/45ee04d40049c7a02ae3ad45e119dc49de14dc48/lib/public-api.js#L11

[2017-03-11 23:03] #300 closed

[2017-03-17 23:28] thejameskyle opened #315 "JavaScript Dynamic Imports"
**OctoLinker version:**  4.9.0

JavaScript is adding [dynamic imports](https://github.com/tc39/proposal-dynamic-import) which look like this:

[code]

OctoLinker [doesn't appear to support these](https://github.com/thejameskyle/react-loadable-example/blob/f5b245574ce6a7901a7a6e739b45fc8bf80f98a1/src/components/App.js#L8) yet, it would be nice if it did.

[2017-03-18 17:05] #310 closed

[2017-03-18 17:14] bfred-it commented on #310
<3

[2017-03-20 17:29] josephfrazier commented on #315
This seems like it should be relatively straight-forward to implement, if anyone would like to. You'll need to change `require(\.resolve)?` to `( require(\.resolve)? | import )` [here](https://github.com/OctoLinker/browser-extension/blob/9fe6a165f418e153bc6e20964d26238548f89664/packages/helper-grammar-regex-collection/index.js#L14), then port some [valid](https://github.com/OctoLinker/browser-exte

[2017-03-20 18:30] jmcmahon443 commented on #315
Hi, I am not sure how the CI works, but I forked and created a branch called Issue #315.
https://github.com/OctoLinker/browser-extension/pull/318

[2017-03-22 14:11] #315 closed

[2017-03-22 15:13] MatthewDG opened #326 "Support for Ruby require_relative"
Hi all, thank you for the amazing extension. I saw that support for Ruby `require` and Ruby `require_relative` was addressed in issue #43 and applied in 4.0.0.  `require` links work fine now but there is still no support for `require_relative`.

[2017-03-22 15:29] josephfrazier commented on #326
Since [the Ruby plugin](https://github.com/OctoLinker/browser-extension/blob/e25f90da95ea67b84dfb63967de64f46504a8a4b/lib/plugins/ruby.js#L2) uses the [`REQUIRE` regex](https://github.com/OctoLinker/browser-extension/blob/e25f90da95ea67b84dfb63967de64f46504a8a4b/packages/helper-grammar-regex-collection/index.js#L14), fixing this should be very similar to the process described in https://github.com

[2017-03-22 17:27] MatthewDG commented on #326
Awesome, thank you. I can go ahead and get started on it if it's alright with you.

[2017-03-22 17:39] josephfrazier commented on #280
Vim users might find this plugin helpful: https://github.com/moll/vim-node (I came across it by way of https://davidosomething.com/blog/vim-for-javascript/)

[2017-03-22 17:41] josephfrazier commented on #326
That'd be great! Feel free to open a pull request even if it isn't working yet, and I'd be happy to help with any issues that arise.

[2017-03-23 00:17] MatthewDG commented on #326
I just about have it.  Changing `( require(\.resolve)? | import )` to `( require(\.resolve)? | import | require_relative )` does change require_relative lines to links.  Since Ruby `require` and `require_relative` do not need you to add '.rb' at the end, I noticed that links that do not include the .rb execute the `liveResolverQuery` in the Ruby plugin with `type: 'rubygems'`. For example, `requir

[2017-03-23 00:48] josephfrazier commented on #326
Yeah, go ahead and open a pull request. There, we can figure out what's going on and how to fix it. Thanks for working on this!

[2017-03-24 06:20] #326 closed

[2017-03-27 19:46] josephfrazier opened #331 "Doesn't link requirements.txt entries"
**Browser name:** Chrome

**Browser version:** Version 57.0.2987.98 (64-bit)

**OctoLinker version:** 7c785a581facd284519c70f2abad18b11855d8ce

**URL and line number where issue occurs:** https://github.com/bndr/pipreqs/blob/1a990b52d5e1d24cd5a2e7673077ff48ae52f9d3/requirements.txt

**Expected behavior:** `wheel`, `Yarg`, and `docopt` are links

**Actual behavior:** they aren't

---

This was ment

[2017-03-27 22:49] #331 closed

[2017-03-28 05:53] #235 closed

[2017-03-30 06:19] josephfrazier opened #338 "Long files aren't completely processed"
EDIT: See https://github.com/OctoLinker/browser-extension/issues/338#issuecomment-306065970

**Browser name:** Chrome

**Browser version:** Version 57.0.2987.110 (64-bit)

**OctoLinker version:** 1e7ff6fdf34592a2e4b16f03e60a2b3551eceddd

**URL and line number where issue occurs:** https://github.com/angular/core-builds/blob/85cbe3f8d6107af033b0f8b56456c181cbcb5eb7/%40angular/core.js#L3260-L3261

*

[2017-04-05 10:49] huynh220476 commented on #121
Nice Go!

[2017-04-11 20:53] tunnckoCore opened #345 "Add `href` attribute to the inserted link"
Still don't like that I can just see what's the link, so it would be good to add `href` or at least `title` attribute the the inserted `a` created in `lib/insert-link.js`

https://github.com/OctoLinker/browser-extension/blob/master/lib/insert-link.js

[2017-04-12 00:04] josephfrazier commented on #345
Hi @tunnckoCore, thanks for the suggestion! This idea has been pretty thoroughly discussed in https://github.com/OctoLinker/browser-extension/pull/87, so I'm going to close this issue in the interest of keeping discussion in one place. https://github.com/OctoLinker/browser-extension/issues/277 is also related. Feel free to chime in on either of those, especially if you'd like to implement it :)

[2017-04-12 00:04] #345 closed

[2017-04-24 20:22] silverwind opened #350 "Superfluous '.' introduced"
**Browser name:** Firefox
**Browser version:** 54
**OctoLinker version:** 4.8.0
**URL and line number where issue occurs:** https://github.com/silverwind/oui/commit/03504e482f50b0c9243123ed9e222b4981ae01ff#diff-2fbe63f0ca81ccc1151eb979b3ff1270L76
**Expected behavior:** `require(".").search`
**Actual behavior:** `require(".")..search` (note the extra '.')

<img width="596" src="https://cloud.github

[2017-04-24 21:37] josephfrazier opened #351 "Version 4.10.0 failed Mozilla review"
From https://addons.mozilla.org/developers/addon/octolinker/versions:

I'm going to refer the reviewer to this issue, so we can track it and work on it publicly.

[2017-04-24 21:44] josephfrazier commented on #350
Thanks for the report, @silverwind! I was able to reproduce the issue with OctoLinker 4.8.0, but not with [v4.10.0](https://github.com/OctoLinker/browser-extension/commit/1e7ff6fdf34592a2e4b16f03e60a2b3551eceddd), using the [firefox-open](https://github.com/OctoLinker/browser-extension/blob/5bf99a86dfd163a8e22bc1c0b0f2ca491eb76338/package.json#L26) script in package.json. However, v4.10.0 hasn't b

[2017-04-24 22:29] josephfrazier opened #352 "LiveScript resolution"
**Browser name:** Chrome

**Browser version:** Version 57.0.2987.133 (64-bit)

**OctoLinker version:** master

**URL and line number where issue occurs:** https://github.com/zloirock/core-js/blob/f3ed6428fe0a182461acb844a5b2ab9bd8b414ac/Gruntfile.js#L2

**Expected behavior:** links to https://github.com/zloirock/core-js/blob/f3ed6428fe0a182461acb844a5b2ab9bd8b414ac/build/Gruntfile.ls

**Actual beh

[2017-04-24 22:35] josephfrazier commented on #351
I did a `git bisect start master 4.8.0` and used the following commands to tell me whether a commit was "bad" or "good":

[code]

I found that the number of instances of Function being used in this way has been increasing, but the first one appeared in commit e23ab38e07fb53128e3370a9d5c66734ffa5a4c6 (from [webpack/buildin/global.js](https://github.com/webpack/webpack/blob/34315db3ffe20b3d7e9a50885

[2017-04-24 23:36] josephfrazier commented on #350
Note that you can use [Chrome Store Foxified](https://addons.mozilla.org/en-US/firefox/addon/chrome-store-foxified/) to install the addon in Firefox from the [Chrome Store](https://chrome.google.com/webstore/detail/octolinker/jlmafbaeoofdegohdhinkhilhclaklkp).

[2017-04-25 01:15] #352 closed

[2017-04-25 15:12] josephfrazier commented on #351
I've merged #353, published v4.11.0, and manually submitted v4.11.0 to both [Mozilla](https://addons.mozilla.org/en-US/developers/addon/octolinker/versions) and [Opera](https://addons.opera.com/developer/package/226344/?tab=conversation). For what it's worth, v4.11.0 is currently at position 283 of 283 in the Mozilla review queue. I'll close this issue, and open a new one if v4.11.0 fails review.

[2017-04-25 15:12] #351 closed

[2017-04-25 18:24] josephfrazier commented on #350
OctoLinker v4.11.0 has been released with the fix and is now available from Mozilla: https://addons.mozilla.org/en-US/firefox/addon/octolinker/versions/?page=1#version-4.11.0

[2017-04-25 18:24] #350 closed

[2017-04-26 03:21] silverwind commented on #350
Fix confirmed, thanks!

[2017-05-03 15:30] JordanReiter opened #357 "Relative imports in python?"
Is there any interest in adjusting the code for Python so it can handle relative imports? It would be great if the plugin could link back to files within the current repo. Ideally recognizing the follow constructions:

    from . import module
    from .module import object
    from ..parent_module import object
    import .module
    from packagename import module # I recognize this one would be

[2017-05-04 21:52] josephfrazier commented on #357
Hi @JordanReiter, thanks for the report!

[code]

I think these cases are already covered by the `isLocalFile`/`isInit` logic in the [python plugin](https://github.com/OctoLinker/browser-extension/blob/a9aff9125c1ef3f54b42db74a546b27f7a181c98/lib/plugins/python.js#L9-L25). I might be wrong about this though, so if you find a counter-example, please post it here.

[code]

This one probably wouldn't

[2017-05-04 22:18] JordanReiter commented on #357
Awesome, I'd love to give it a shot.

On May 4, 2017 5:52 PM, "Joseph Frazier" <notifications@github.com> wrote:

[2017-05-04 22:23] josephfrazier commented on #357
That's great to hear. The [Contributing Guide](https://github.com/OctoLinker/browser-extension/blob/a9aff9125c1ef3f54b42db74a546b27f7a181c98/CONTRIBUTING.md) should get you up-and-running. Note that you'll need the [Yarn](https://yarnpkg.com/docs/install) package manager to install all the dependencies properly. Feel free to ask any questions that come up!

[2017-05-08 14:58] josephfrazier opened #359 "Feature Request: Resolve relative paths"
**Browser name:** Chrome

**Browser version:** Version 58.0.3029.96 (64-bit)

**OctoLinker version:** 5a9191f01a7bd7fbf454146c42b8bea3a3cc8f7f

**URL and line number where issue occurs:** https://github.com/pegjs/website/blob/5924ede36795192b77f2cb9bfe25a56e8e8b6f90/app.js#L12

**Expected behavior:** I can click on `__dirname + "/views"` to navigate to https://github.com/pegjs/website/tree/5924ede

[2017-05-13 20:14] derimagia commented on #277
Just to throw my opinion on it, this is a pretty major UX issue in my opinion. There's at least https://fiatjaf.alhur.es/module-linker/ which seems to improve this quite a lot, but it seems silly to have 2 plugins doing the same thing.

I can't say I know much about how octolinker works so I can't comment too much on this besides what i have at the moment.

[2017-05-15 10:33] stefanbuck commented on #277
I discovered module-linker a few weeks ago and was looking how they do linking. As assumed it prefetches all links on startup which is the major difference between OctoLinker and module-linker.

@josephfrazier suggested the same technic a while ago, but I wasn't confidence. Mainly because I was afraid to put that many unnecessary traffic on our service, github and all the registries. In worse case

[2017-05-15 14:10] derimagia commented on #277
For the second part, we could do what OctoTree does and accept a token to just get the files in the repo, so its only a single request. Are there other cases where this wouldn't help?

[2017-05-15 14:21] stefanbuck commented on #277
I didn't think about that! Good idea and we already have this functionality in place for Sass, Less and Haskell.

[2017-05-16 15:33] josephfrazier opened #360 "Treat `proxyquire` like `require`"
**Browser name:** Chrome

**Browser version:** Version 58.0.3029.110 (64-bit)

**OctoLinker version:** 6ad73cf99e0fba91ef9d3790960643b1361f141e

**URL and line number where issue occurs:** https://github.com/medikoo/prettier-elastic-vars/blob/25bdce2b14c6427191dc89891591a553daf8db5a/bin/prettier.js#L7

**Expected behavior:** `prettier/bin/prettier` is linked

**Actual behavior:** it isn't

[2017-05-16 16:30] #360 closed

[2017-05-19 20:09] josephfrazier commented on #277
Maybe a good way to start on this would be to refactor [fetch](https://github.com/OctoLinker/browser-extension/blob/7a12c2665ba5d5999d6cb4786449eef996d33b91/lib/utils/fetch.js) to know which repo its in, use the GitHub API to get a list of files as described [here](https://developer.github.com/v3/git/trees/#get-a-tree-recursively), then handle urls in the repo by checking them against the file lis

[2017-05-24 16:16] josephfrazier commented on #128
It looks like @bfred-it ^ has found a way to do this with `web-ext`: https://github.com/mozilla/web-ext/issues/804#issuecomment-302588357

[2017-05-26 14:00] automaticgiant commented on #75
just like https://github.com/buunguyen/octotree as another example.

[2017-06-04 20:48] rgroothuijsen commented on #338
I played around a bit with the sample provided, and strangely enough it did not seem like any particular piece of code triggered the problem. If I cut out  a small section of the file it worked fine, but at a certain workload it seemed like the plugin just died.

[2017-06-04 21:18] #359 closed

[2017-06-04 21:49] josephfrazier commented on #338
Thanks for investigating this, @rgroothuijsen. In https://github.com/OctoLinker/browser-extension/pull/365, I added some tests demonstrating that the code itself isn't the issue, and also made it possible to link the packages in the example (at least, the first one).

[2017-06-06 20:17] josephfrazier opened #368 "URLs in requirements.txt"
**Browser name:** Chrome

**Browser version:** 59.0.3071.86 (Official Build) (64-bit)

**OctoLinker version:** 8b25456aa6921a5a575114c3220ed11d517315e6

**URL and line number where issue occurs:** https://github.com/scieloorg/opac_proc/blob/46d9f826d2519573b99418f11da1ce3f87bfa7eb/requirements.txt#L12-L14

**Expected behavior:** I can click on the github urls to navigate to them

**Actual behavior

[2017-06-19 13:59] benjamreynolds commented on #212
Wanted to check in on this. The main problem here is that MELPA does not have an API that we can hit to get the correct repo to redirect to. See melpa/melpa#2850. There is a bit of a workaround by hitting in [archives.json](https://melpa.org/archive.json) but the file is pretty large (Nearly a full Megabyte) which may be a little much to handle with [live-resolver](https://github.com/OctoLinker/li

[2017-06-19 14:46] josephfrazier commented on #212
Thanks for following up on this. I think we could start off by simply having the live-resolver hit archives.json on every request. Then, if performance/bandwidth is an issue, or if we want to be nicer to melpa.org, we could add in caching based on the `Last-Modified` header.

I'll see if I can get this working on the live-resolver. If you've started work on this repo, feel free to open a PR, even

[2017-06-19 15:38] benjamreynolds commented on #212
I actually started my work by looking at how to get the live-resolver to work with MELPA. Ill start work on this with the assumption that we will get live-resolver working with archive.json.

[2017-06-19 15:44] josephfrazier commented on #212
Oops, sorry for the duplicate work! I put together a MELPA resolver at https://github.com/OctoLinker/live-resolver/pull/41, if you want to take a look.

[2017-06-19 16:44] benjamreynolds commented on #212
AWESOME! now that the live-resolver for Melpa is up, Ill take a crack at the browser extension work when I get some time this week. It shouldnt be too difficult.

[2017-06-19 16:46] josephfrazier commented on #212
Yup, I decided to go ahead and merge https://github.com/OctoLinker/live-resolver/pull/41 to make it easier for to you work on this, without having to run a local instance of live-resolver. I look forward to seeing how it goes! As I mentioned earlier, feel free to open a PR as soon as you'd like, even if it doesn't work yet.

[2017-06-23 12:17] koddsson commented on #71
I'm not super familiar with the internals of octolinker but could we leverage the github api to get the full blob of the file for parsing?

[2017-06-24 16:02] josephfrazier commented on #71
That would be a great way to do it, @koddsson! You'd probably want to have [readLines](https://github.com/OctoLinker/browser-extension/blob/64b81952599f12716590ae3ab78643d9fb442c57/packages/blob-reader/helper.js#L129) call [getPath](https://github.com/OctoLinker/browser-extension/blob/64b81952599f12716590ae3ab78643d9fb442c57/packages/blob-reader/helper.js#L27), to find the filename, then use a git

[2017-07-22 06:52] cynicaldevil opened #371 "Octolinker incorrectly identifies modules in Rust even when they are not specified"
**Browser name:**
Chrome

**Browser version:**
Version 59.0.3071.115 (Official Build) (64-bit)

**OctoLinker version:**
4.12.0

**URL and line number where issue occurs:**
https://github.com/cynicaldevil/rust/commit/9713020dbe338e2a576b656d17f0415df26862a8#commitcomment-23137541

In this GH comment, Octolinker incorrectly assumes any word that comes after `use` as a module/package name.

[2017-07-22 19:15] josephfrazier commented on #371
This is similar to https://github.com/OctoLinker/browser-extension/issues/284

[2017-07-22 19:24] cynicaldevil commented on #371
I didn't go over the source thoroughly, but I think that the regex [here](https://github.com/OctoLinker/browser-extension/blob/8b25456aa6921a5a575114c3220ed11d517315e6/packages/helper-grammar-regex-collection/index.js#L80) needs to be changed to be more exclusive.

[2017-07-22 21:20] danielbayley commented on #280
I actually started to write an atom package, which will be a plugin for Facebook’s \[_[nuclide]_\] _[hyperclick]_ package. At first it was just going to be for npm, but then I figured inevitably it would eventually grow into basically what OctoLinker is, so why not just utilise your code from the outset? So…

I was wondering exactly this… @stefanbuck @josephfrazier @reconbot what are the chances o

[2017-07-22 22:22] josephfrazier commented on #371
Yeah, we should probably change that `\b` to a `^`. Want to send a PR?

[2017-07-22 22:33] josephfrazier commented on #280
Thanks to https://github.com/OctoLinker/live-resolver/pull/29, you shouldn't have to wait for a separate package to be published! Just `npm install https://github.com/OctoLinker/live-resolver`, then access `doRequest` with `require('live-resolver/src/utils/do-request')`. Of course, it will probably make sense to extract a separate package once there are multiple users of it, but that can wait unti

[2017-07-24 20:02] cynicaldevil commented on #371
Sure! I think I'll send one tomorrow.

[2017-07-27 08:48] cynicaldevil commented on #371
Running the command `yarn test` is giving me this error message:
[code]
I'm getting this without any changes too. Is this a known issue?

[2017-07-27 11:26] danielbayley commented on #280
@stefanbuck @josephfrazier @reconbot I just released [_hyperclick-octolinker_](https://atom.io/packages/hyperclick-octolinker).

[2017-07-28 11:50] guneysus opened #372 "Missing links in golang.org/x/ imports"
![image](https://user-images.githubusercontent.com/949232/28715976-6eef4246-73a3-11e7-81c9-218617ead61b.png)

Missing links in `golang.org/x` imports.

Example:

https://github.com/rs/xhandler#using-xmux

[2017-07-28 16:09] josephfrazier commented on #371
Hmm, I'm seeing that locally as well. However, the Travis builds are still working (here's a [https://travis-ci.org/OctoLinker/browser-extension/builds/255847673](https://travis-ci.org/OctoLinker/browser-extension)). Not sure what's going on...

[2017-07-28 20:20] stefanbuck commented on #371
I don't have this issue and `yarn test` pass successfully!?

[code]

[2017-07-29 16:59] josephfrazier commented on #371
It seems to have something to do with the version of yarn. Upgrading from `v0.27.5` to `v0.28.4` and reinstalling `./node_modules` fixed it for me.

[code]

[2017-08-01 19:39] danielbayley commented on #280
@stefanbuck @josephfrazier @reconbot FYI: There was an issue with pulling in the live resolver because of `async`/`await` in the Atom stable release (which I didn't notice since I normally use the beta) so I just bypassed it by using the heroku service… so package is fixed now across Atom releases.

[2017-08-01 21:26] stefanbuck commented on #280
@danielbayley great work! Will start using it and let you know if something isn't correct.

[2017-08-02 14:50] cynicaldevil commented on #371
I am having trouble updating yarn due to some restrictions in my college network, so it might be some time before I am able to make a PR.

[2017-08-02 15:18] josephfrazier commented on #371
Oh, feel free to make a PR without running the tests locally. It's a fairly straightforward change, so I'd expect the tests to continue passing on Travis. If they don't, I'd be happy to help fix them.

[2017-08-14 01:28] #371 closed

[2017-09-02 21:51] josephfrazier opened #374 "Support commit-ish in package.json"
**Browser name:** Firefox

**Browser version:** 55.0.2

**OctoLinker version:** 22b54e8ee5a722ad5d9a5b5bbf626674a7a26e66

**URL and line number where issue occurs:** https://github.com/josephfrazier/prettier_d/blob/3319ee19d8d9bcd12a10e3b84dfbc96b702af6e5/package.json#L44

**Expected behavior:** `prettier` link goes to https://github.com/josephfrazier/prettier/tree/cosmiconfig-master-branch

**Act

[2017-09-05 15:30] #374 closed

[2017-09-07 16:09] bfred-it commented on #368
[Refined GitHub](https://github.com/sindresorhus/refined-github) does this too, by the way:

https://cloud.githubusercontent.com/assets/170270/25370217/61718820-29b3-11e7-89c5-2959eaf8cac8.png

[2017-09-07 16:15] josephfrazier commented on #368
Ooh, maybe we could adopt its code and do the same thing.

[2017-09-07 16:35] bfred-it commented on #368
Here: https://github.com/sindresorhus/refined-github/blob/168b2e887d7f8f4c6b116333d22b772ef7139185/src/libs/linkify-urls-in-code.js

It's based on: https://github.com/sindresorhus/linkify-urls/

But it currently has a bug exactly in that file: https://github.com/sindresorhus/linkify-urls/pull/6

<img width="578" alt="screen shot 2017-09-07 at 23 30 07" src="https://user-images.githubusercontent.co

[2017-09-30 15:45] rgroothuijsen commented on #372
Still unsure about one thing. Would it be better to have the links pointing to the original documentation as they do now if you went to a golang.org package URL, or to have the links pointing to the Github mirrors where the actual code is located?

[2017-09-30 16:18] rgroothuijsen commented on #372
Small question: right now, the golang.org/x/ and golang.org/pkg/ URLs point to documentation pages for those packages. Would it be more helpful to have them redirect to the actual source code or keep the link to the documentation page?

[2017-10-02 21:13] stefanbuck commented on #372
That's just my personal view, but I think that pointing to the documentation is more useful. In most cases documentation pages are easier to access than raw source code and documentation is all what you need. We do the same for other languages like nodejs where we link core pages to the official documentation. I'm happy to discuss this further if you have strong feelings for your proposal.

[2017-10-03 08:08] int64ago commented on #113
@josephfrazier Hi, thanks for the great work, any schedule for this?

[2017-10-03 15:03] josephfrazier commented on #113
@int64ago, I don't have time available to work on this at the moment. If you'd like to help out, refer to the task list [above](https://github.com/OctoLinker/browser-extension/issues/113#issuecomment-283075298). I can offer advice or answer questions to support you along the way!

[2017-10-03 19:44] rgroothuijsen commented on #372
Oh, not at all, I thought there was merit in both approaches so I was doubting which one to go for. If it's consistent with how other languages are handled, that's a plus. In that case, the original paths can be used without any special parsing and it's just a matter of adding golang.org to the list of allowed domains.

[2017-10-03 20:49] stefanbuck commented on #372
If you'd like to tackle this one, I would be happy to help with assistance (if needed). It will be fairly straightforward 😉

[2017-10-10 11:47] sumanmaity112 opened #382 "[Feature request] HTML script relative path linking"
**Browser name:** Chrome

**Browser version:** 61.0.3163.100 (Official Build) (64-bit)

**OctoLinker version:**  4.12.0

**URL and line number where issue occurs:** N/A

**Expected behaviour:** OctoLinker does not or unable to link HTML script's **src** tag, like
`<script src="../components/temp/script.js"></script>`. You can see example [here](https://github.com/sumanmaity112/juice/blob/master/HT

[2017-10-10 11:50] deecewan commented on #382
I'll take a crack at this.

[2017-10-11 19:06] ZaninAndrea opened #384 "Tooltip glitch"
**Browser name:** Chrome

**Browser version:** 61.0.3163.100

**OctoLinker version:** 4.12.0

**URL and line number where issue occurs:**
For example:
https://github.com/ZaninAndrea/mdeditor/blob/master/package.json
line 48

But really any file any line

**Expected behavior:** I enabled the option open in a new tab enabled, when I click a link it opens in a new tab and if I go back to the page and

[2017-10-11 23:40] #382 closed

[2017-10-11 23:41] stefanbuck commented on #384
Thanks for reporting this. I'll have a look at it soon

[2017-10-16 20:14] #384 closed

[2017-10-16 20:15] stefanbuck commented on #372
Fixed as part of #381 and will be shipped later this week

[2017-10-16 20:15] #372 closed

[2017-11-07 15:57] bfred-it opened #391 "Permalink toolbar doesn't line up with selected line"
The permalink toolbar doesn't show up on the line you select, but rather about 2 lines above it.

1. Visit https://github.com/OctoLinker/browser-extension/blob/master/.babelrc
2. Click on line 1
3. See issue:

Originally posted in https://github.com/sindresorhus/refined-github/issues/786

**Browser name:**

Chrome

**Browser version:**

62

**OctoLinker version:**

4.13.0

**URL and line number wh

[2017-11-07 21:52] stefanbuck commented on #391
Thanks for filling this issue. I had a quick look, but I couldn't found the reason why OctoLinker is repositioning the Permalink toolbar. Will have another look tomorrow. Do you have an idea?

[2017-11-08 04:44] bfred-it commented on #391
https://github.com/OctoLinker/browser-extension/blob/3a5a798/lib/app.css#L35

[2017-11-09 02:29] #391 closed

[2017-11-26 00:20] xt0rted opened #402 "External links are no longer working, getting http 500 error from website"
**Browser name:** Chrome
**Browser version:** 62
**OctoLinker version:** 4.14.0
**Expected behavior:** Should load site for npm package
**Actual behavior:** Doesn't load site due to an http 500 error from `https://githublinker.herokuapp.com/q/npm/JSONPath`
**URL and line number where issue occurs:**
  - Works https://github.com/OctoLinker/browser-extension/blob/6107e955c040a4ca6e6a79f49f619d27b8ec

[2017-11-26 10:07] stefanbuck commented on #402
Thanks for reporting. There was an issue with newrelic again. I disabled it for now which solved the issue.

[2017-11-26 10:07] #402 closed

[2017-12-12 22:40] tonglil opened #414 "Support for symlinks"
Often the times there are symlinks committed into the repos, and instead of showing just a file reference, it would be great if that reference was clickable:

**Expected behavior:**

Example https://github.com/org/repo/blob/master/folder/link.txt with contents:

[code]

Links to https://github.com/org/repo/blob/master/file.txt.

**Actual behavior:**

N/A

[2017-12-12 22:48] josephfrazier commented on #414
Great idea! Here's an example symlink: https://github.com/wmluke/angular-flash/blob/7db7bf177a0908cdc6f2a01d984bd39ea1e3ef1a/app/components
Unfortunately, the target path appears not to exist in the repo, but it's a start

[2017-12-19 14:48] lucasbento opened #416 "Opening the file page using Octotree doesn't trigger the extension"
**Browser name:** Firefox/Chrome

**Browser version:** 57.0/63.0.3239.84

**OctoLinker version:** 4.15.1

**URL and line number where issue occurs:**

**Expected behavior:** Trigger the extension when opening the file page in screen.

**Actual behavior:** It doesn't trigger the extension when opening the page using Octotree, it only works after reloading the page or entering by using github.com it

[2017-12-20 04:16] pzrq commented on #239
FWIW, as an extensive user of webpack's [`resolve.alias`](https://webpack.github.io/docs/configuration.html#resolve-alias) in things derived from [compass-plugin](https://github.com/mongodb-js/compass-plugin/blob/bb0dc7c034f9df42035b342ddc803186d6d5775e/template/config/webpack.dev.config.js#L43), I think [`resolve.root`](https://webpack.github.io/docs/configuration.html#resolve-root) from @shachar

[2017-12-27 23:02] xt0rted opened #418 "Unable to build extension"
I'm working on a new PR and since my last one something's changed and I'm no longer able to build. Before I started on this change I deleted my local repo and recloned from GitHub so the recent line ending change worked.

I can run `yarn install`, `yarn lint` and `yarn test` just fine, but `yarn build`, `yarn watch`, and `yarn chrome-open` all return errors.

I'm on Win10 and tried with both the r

[2017-12-27 23:57] josephfrazier commented on #418
Can you try this change and see if it helps? https://github.com/OctoLinker/browser-extension/pull/420/files

[2017-12-28 01:24] xt0rted commented on #418
@josephfrazier that gets rid of the `'.' is not recognized as an internal or external command` error, but it doesn't fix the `export 'default' (imported as 'loadPlugins') was not found in './load-plugins'` error.

[2017-12-28 01:28] josephfrazier commented on #418
Thanks for checking, can you post the full output of `yarn build` with that change applied?

[2017-12-28 01:28] xt0rted commented on #418
[code]

[2017-12-28 01:29] josephfrazier commented on #418
Thanks. It seems like that's just a warning, rather than an error. Does `yarn chrome-open` work for you now?

[2017-12-28 01:33] xt0rted commented on #418
Running `yarn chrome-open` gives the following error

[code]

If I try to side load the output from `yarn build` it throws an exception when it loads up and doesn't work.

The error I'm getting there is in `app.js:12937` and says `Uncaught (in promise) TypeError: Object(...) is not a function`
[code]

[2017-12-28 01:50] xt0rted commented on #418
Updating [lib/octo-linker.js#L8](https://github.com/OctoLinker/browser-extension/blob/63d9a1f41f3742c162a9eb1ed039effa7df32356/lib/octo-linker.js#L8) like so gets rid of the build error when running `yarn build` but side loading still throws an exception. It also doesn't fix `yarn chrome-open` which looks to be a build script issue and not a code issue.

[code]

[2017-12-28 01:58] xt0rted commented on #418
Fixed the build error, the full fix is
[code]

[2017-12-28 02:15] josephfrazier commented on #418
Ah, of course, removing the `./` only got rid of one forward slash, not both... Can you try `yarn chrome-launch`? It looks like `yarn` fixes the paths for Windows (https://github.com/yarnpkg/yarn/pull/2082), so I'm thinking we can use it instead of `npm run` in package.json.

[2017-12-28 02:17] xt0rted commented on #418
running `yarn chrome-launch` prompts me to open `scripts/chrome-launch.js`

[2017-12-28 02:23] josephfrazier commented on #418
Oh, because the [shebang](https://en.wikipedia.org/wiki/Shebang_(Unix)) doesn't work on Windows. What if you add `node ` to the `chrome-launch` script, so it looks like this:

[code]

[2017-12-28 02:27] xt0rted commented on #418
I was trying that but it introduces other errors. It does cause the script to execute and chrome to open, but then I get this:

![image](https://user-images.githubusercontent.com/831974/34398385-8672db46-eb4c-11e7-9a40-4461c74ac897.png)

And then https://github.com/OctoLinker/browser-extension/blob/master/package.json opens up in the browser.

[2017-12-28 02:46] josephfrazier commented on #418
Hmm ok, at least `chrome-launch.js` is running now. Not really sure what to say about the popup you're seeing, though. I'm hoping it's something to do with your setup, and not a general problem on Windows. I'm going to close this with https://github.com/OctoLinker/browser-extension/pull/423, but if another Windows developer reports the same issue, we can definitely re-open :) I'm glad you found a

[2017-12-28 02:49] #418 closed

[2018-01-02 21:25] stefanbuck commented on #277
One of my goals for 2018 is to close (implement a fix) for this issue. I have some rough ideas how to do this. @josephfrazier I'll write down a few lines soon so we can discuss it in detail.

[2018-01-03 22:17] stefanbuck opened #427 "Path building fails"
**Browser name:**
Chrome

**Browser version:**
63

**OctoLinker version:**
master branch

**URL and line number where issue occurs:**
https://github.com/OctoLinker/browser-extension/blob/master/package.json#L7

**Expected behavior:**
A click on `lib/app.js` should bring me to the related file.

**Actual behavior:**

Throws an error in the console
[code]

Looks like `path.posix.join` isn't availabl

[2018-01-03 22:23] stefanbuck commented on #427
Webpack uses [path-browserify](https://github.com/substack/path-browserify) to implement a path module for browsers. There is a PR open from Nov 2015  https://github.com/substack/path-browserify/pull/6 to add posix support 😞

[2018-01-03 23:13] #427 closed

[2018-01-06 22:45] benatkin opened #430 "use https url in github project"
I noticed the URL in the metadata for this github project is plain http. GitHub pages has HTTPS support now. https://octolinker.github.io/

Without HTTPS someone with control of the router could direct people to a malicious URL to download it. Might be far-fetched but it's part of why the drive to switch to HTTPS is so intense!

[2018-01-06 22:47] benatkin commented on #430
Also the twitter account links to the plain ol' HTTP URL.

[2018-01-06 22:48] josephfrazier commented on #430
Good eye, @benatkin! I just changed the metadata, but @stefanbuck will have to change the twitter account profile text.

[2018-01-07 07:27] stefanbuck commented on #430
Done. Thanks for reporting @benatkin :+1:

[2018-01-07 07:27] #430 closed

[2018-01-12 17:55] bfred-it opened #431 "Support Docker entrypoint"
**OctoLinker version:**

4.15

Example file: https://github.com/docker-library/wordpress/blob/6a085d90853b8baffadbd3f0a41d6814a2513c11/php5.6/apache/Dockerfile#L59

That `ENTRYPOINT` line could link to https://github.com/docker-library/wordpress/blob/6a085d90853b8baffadbd3f0a41d6814a2513c11/php5.6/apache/docker-entrypoint.sh

[2018-01-12 23:33] stefanbuck opened #432 "Complete mono repo work"
Long time ago I added the `packages` directory inspired by babels mono repo. Back then, I had some issues with getting [lerna](https://github.com/lerna/lerna) working. I would like to give it another try.

The `lib` folder needs to go away in favor `packages/octolinker-core`. This comes with another
advantage for the repo structure. All app specific dependencies needs to be defined within `package

[2018-01-12 23:57] josephfrazier commented on #432
That sounds ok to me. Would you be interested in bringing `live-resolver` into this repo too? I'd love to be able to have a single `OctoLinker` repository that encompasses both client and server side code. For reference, we had briefly discussed this starting in https://github.com/OctoLinker/browser-extension/pull/87#issuecomment-222865992. I think this is the most relevant part of that thread:

[2018-01-13 11:19] stefanbuck commented on #432
Yeah let's do this. I opened a PR to bring lerna into the code base. Would you be up for adding the live-resolver whenever you have time? That would be helpful so I can focus on the real link work.

[2018-01-13 11:29] stefanbuck commented on #431
Should be fairly easy to implement, but I don't have time to work on this right now. I'm busy with refactoring other parts of the app.

Who ever wants to tackle this, there is already a [Docker plugin](https://github.com/OctoLinker/browser-extension/blob/c1f628b0a3e7c55af1d0513fdeb22cf13f3f6ed1/lib/plugins/docker.js) which links the `FROM` field. All what you have to do is adding another REGEX and

[2018-01-14 21:27] stefanbuck commented on #277
Hey @babenzele and @derimagia, are you still interested in such a behaviour? I was working on a proof of concept version which is using real `<a>`-Tags for all links. So far it works, but I would like to verify a few performance concerns and in order to do this I need traffic and your help.

All you have to do is installing [this version](https://github.com/OctoLinker/browser-extension/files/16177

[2018-01-14 21:29] josephfrazier commented on #432
Yeah, once we have lerna working with the existing repo (I'm about to start reviewing #433), I'd be happy to look at adding the live-resolver. I imagine the trickiest part might be getting the heroku deploy working inside the same travis job as the client-side tests/deployment, but hopefully it won't be too bad.

[2018-01-14 21:35] stefanbuck commented on #432
Today, I was thinking about that as well, but yeah let's assume it's somehow possible.

[2018-01-14 23:44] babenzele commented on #277
I’ll start using that version this week! Looking forward to it

[2018-01-22 21:19] stefanbuck opened #437 "Auto publish master"
Our release process is a bit awkward. We do releases on a whenever-needed basis. This works, but it delays every new feature we add from a few days to a couple of weeks. I asked myself "Why not auto publishing changes in master straight away?". For publishing a new version we already use [chrome-webstore-upload-cli](https://github.com/DrewML/chrome-webstore-upload-cli) and there is workaround for

[2018-01-23 00:11] josephfrazier commented on #437
I like the general idea, but I think we can tweak it a little bit to make the release process even easier.

I'm a little worried that this could result in updates that are *too* frequent? What if we kept the same release-on-version-bump system, but recommended [Chrome Store Foxified](https://addons.mozilla.org/en-US/firefox/addon/chrome-store-foxified/) for Firefox users, much like the [Install Ch

[2018-01-23 21:03] stefanbuck commented on #437
Thanks for your feedback. I played around with both wrapper and well the user experience isn't that great. Both require a bunch of permissions which will scare some people.

<img width="352" alt="screen shot 2018-01-23 at 20 17 35" src="https://user-images.githubusercontent.com/1393946/35296336-ffe424b4-007b-11e8-957c-ab438decdf31.png">

On Firefox I wasn't be able to install the extension, becaus

[2018-02-01 23:12] mackeyja92 opened #442 "Issues using with OctoTree"
**Browser name:**
Firefox Developer Edition
**Browser version:**
59.9b4
**OctoLinker version:**
4.16

**URL and line number where issue occurs:**
No specific page.

**Expected behavior:**
When using OctoTree to navigate a repo, OctoLinks should display as normal.

**Actual behavior:**
When changing pages using OctoTree, OctoLinks are not displayed. Refreshing the page fixes it.

[2018-02-01 23:15] stefanbuck commented on #442
Duplicate #416

[2018-02-01 23:15] #442 closed

[2018-02-01 23:16] stefanbuck commented on #416
Will have a look at it soon (next week)

[2018-02-06 21:49] stefanbuck commented on #416
I found the reason why this is not working. Whenever you navigate between files, PRs or issues on GitHub, they fetch the HTML from the server via ajax and replaces the content of container with the loaded html. An event from type `pjax:end` is dispatched on `document` when this occurs.

Octotree, is using basically the same technique to load the pages with a small difference. Other than GitHub.com

[2018-02-07 20:53] jdreesen opened #443 "Composer support broken"
**Browser name:** Firefox

**Browser version:** 58.0.1 (64-Bit)

**OctoLinker version:** 4.16.0

**URL and line number where issue occurs:**
right now: https://github.com/matthiasnoback/behat-local-code-coverage-extension/blob/master/composer.json#L6
but it occurs on every `composer.json` file since a while

**Expected behavior:** A new tab for the package opens

**Actual behavior:** Nothing happe

[2018-02-07 21:13] stefanbuck commented on #443
Looks like my giant refactoring #436 cause this issue, sorry for that. Will fix it asap.

[2018-02-07 22:30] #443 closed

[2018-02-07 22:38] jdreesen commented on #443
Thx for the quick fix! I absolutely love this addon :)

[2018-02-07 22:54] josephfrazier commented on #416
Wow, thanks for digging so deeply into this, @stefanbuck! I agree with you, Octotree should dispatch a native `pjax:end` event for compatibility with other extensions. I'll open an issue there and link back to this one, to see what they think.

[2018-02-08 05:30] buunguyen commented on #416
Any idea how GitHub does pjax? I mean if it uses jquery-pjax as Octotree, then it should trigger the event on `$(document)`. Pretty surprised that it triggers a native event. If I know what lib GitHub uses, I would use the same for Octotree.

[2018-02-08 19:01] stefanbuck commented on #416
I deobfuscated some javascript files from github.com. It looks like they have their own pjax implementation.

<img width="410" alt="screen shot 2018-02-08 at 19 49 44" src="https://user-images.githubusercontent.com/1393946/35992133-b2ed05dc-0d09-11e8-968a-b8c5894d8c33.png">

I found a pjax module which does not depend on jQuery https://github.com/MoOx/pjax. From a brief look I would say this shoul

[2018-02-08 20:23] josephfrazier commented on #416
Yeah, it looks like https://github.com/MoOx/pjax might be the way to go, as `jquery-pjax` does not trigger a native event (see https://github.com/defunkt/jquery-pjax/issues/349).

[2018-02-09 05:45] buunguyen commented on #416
One thing is that Octotree listens on `$(document).on('pjax:end')` and it could receive events from GitHub navigation itself (you can see the Octotree spinner when clicking on files in GitHub tree, not Octotree tree). I think custom events are attached to the wrapped object, `document` in this case, which is shared among the host and extensions. I suppose if you change from `document.addActionList

[2018-02-09 07:04] stefanbuck commented on #416
That was one of  the first things I tired out and it took me a while to understand why this is not working. I startet a little exploration with two new blank extensions. I added the same jQuery version to each of them. In extension A) I triggered a custom event via jQuery on the `document` node. The other extension was listening to this event, but it never received it. Doing the exact same thing w

[2018-02-09 15:51] josephfrazier commented on #416
This sounds right, see https://github.com/jquery/jquery/issues/2476

[2018-02-12 21:19] stefanbuck commented on #443
New version `v4.16.1` is out.

[2018-02-12 21:22] jdreesen commented on #443
I just updated and it works again, thx ❤️

[2018-02-15 21:28] josephfrazier opened #446 "Deprecation of jQuery 2.x in Firefox add-ons"
I just got this email from Mozilla, and I'm pretty sure it's referring to OctoLinker, since I don't have any other addons on AMO. However, I can't seem to find where jQuery 2.x is used in OctoLinker...

[2018-02-16 15:46] stefanbuck commented on #446
Thanks for the heads up. I found this email in my spam folder 😆 so it must be OctoLinker. It think it's false alert from their side. I checked the build file and there is definitely no jQuery 2.x. I'll write them and ask for clarification.

[2018-02-19 15:52] ipanasenko opened #447 "Support for url() in css"
Hi!
Would be very awesome to have support for links in css files.

Example:
[code]

[2018-02-19 23:27] stefanbuck commented on #447
Since a while I have the idea of linking all relative urls regardless of the file type. At the moment such a behaviour is not that easy to implement. I'm working on a bigger refactoring to make such things possible.

[2018-02-19 23:30] stefanbuck commented on #446
Resolved, octolinker will stay https://discourse.mozilla.org/t/deprecation-of-jquery-2-x/25724/4

[2018-02-19 23:30] #446 closed

[2018-02-19 23:57] josephfrazier commented on #446
Glad to hear it, thanks for following up with Mozilla!

[2018-02-20 04:05] xt0rted opened #449 "Not all supported NuGet references are being linkified"
**Browser name:** Chrome

**Browser version:** 64

**OctoLinker version:** 4.16.1

**URL and line number where issue occurs:** https://github.com/equineexchange/EquineExchange.ImageHosting/commit/3a917291b3e2ad459d2ed84af96b6245658758bf#diff-f2c1409a20722ddaf5705add38f2fbe1

**Expected behavior:** The NuGet packages should be linkified like they are elsewhere such as https://github.com/equineexcha

[2018-02-20 21:45] stefanbuck commented on #449
Maybe related to #338

[2018-02-23 13:13] xt0rted opened #450 "Adding relative project linking for .net projects"
Since .NET projects can reference one another I wanted to see about adding project file linking, similar to the [imports in less or sass files](https://github.com/twbs/bootstrap/blob/v4-dev/scss/_mixins.scss). An example of this in a `.csproj` can be seen at [Microsoft.AspNetCore.AzureAppServices.SiteExtension.csproj#L21-L23](https://github.com/aspnet/AzureIntegration/blob/f7689a10addae8a12bf84699

[2018-02-23 21:27] stefanbuck commented on #450
If I understand you correctly, you're asking how you can differentiate between different resolvers within the same plugin, right?

The JavaScript plugin does this [with a RegExp](https://github.com/OctoLinker/OctoLinker/blob/03cf6a2639bfbdc35b7d3fc89627dafdb7f7b2e3/packages/plugin-javascript/index.js#L65) on the `target` argument. Based on the result it calls either the `javascriptFile` or `liveRe

[2018-03-03 16:14] xPaw opened #452 "Line indicator is misaligned and cutoff in pull requests"
**Browser name:** Chrome
**Browser version:** 66.0.3355.0
**OctoLinker version:** 4.16.1

1. In PR review comments, the dot is aligned on top of the comment container, not on the line ([link](https://github.com/thelounge/thelounge/pull/1839#pullrequestreview-100691286))

![03-161286724](https://user-images.githubusercontent.com/613331/36936462-909805ce-1f0e-11e8-85ac-11106378bdb0.png)

2. In diff

[2018-03-03 16:18] xPaw opened #453 "Process loaded code when expanding diff views"
Link: https://github.com/thelounge/thelounge/pull/1839/files#diff-cf27c1d543e886c89cd9ac8b8aeaf05b

Hopefully the GIF explains what I mean:
![03-161708105](https://user-images.githubusercontent.com/613331/36936512-3e3688fe-1f0f-11e8-8428-9bf3f13d3a06.gif)

[2018-03-03 23:17] josephfrazier commented on #453
This sounds related to https://github.com/OctoLinker/OctoLinker/issues/416, since they both concern page changes that don't trigger reprocessing.

[2018-03-04 11:57] xPaw commented on #453
I'm not sure that's entirely related, as your linked issue concerns navigation (pjax), while this changes the page state without navigation.

[2018-03-05 20:57] stefanbuck commented on #453
I agree with @xPaw. This issue is slightly different. It should be relative easy to fix.

We're happy to provide mentor help for people who want to pick this up.

[2018-03-05 21:08] stefanbuck commented on #452
Mhhh looks good to me ... maybe they reverted some of the changes. @xPaw is this still an issue for you?

<img width="512" alt="screen shot 2018-03-05 at 22 06 53" src="https://user-images.githubusercontent.com/1393946/36999805-8f363098-20c1-11e8-83f1-0fe89dcc5a37.png">
<img width="528" alt="screen shot 2018-03-05 at 22 07 01" src="https://user-images.githubusercontent.com/1393946/36999806-8f51f42

[2018-03-05 21:23] xPaw commented on #452
Hah, you are right, it looks fine now.

[2018-03-05 21:56] #452 closed

[2018-03-18 14:07] xt0rted opened #454 "Commit comment elements are being parsed as dependencies and turned into links"
**Browser name:** Chrome

**Browser version:** 65

**OctoLinker version:** 4.16.1

**URL and line number where issue occurs:** https://github.com/github/octodns/pull/139/files#r148934041

**Expected behavior:** UI elements such as the `Contributor` label and `edited` drop down should not be treated as a package dependency.

**Actual behavior:** These elements are incorrectly parsed as dependencies

[2018-03-23 13:09] StarpTech opened #455 "Interpret .json as .js"
**Browser name:**
Chrome
**Browser version:**
Version 65.0.3325.181 (Offizieller Build) (64-Bit)
**OctoLinker version:**
4.16.1
**URL and line number where issue occurs:**
https://github.com/fastify/fastify/blob/master/lib/handleRequest.js#L10
**Expected behavior:**
Redirect to `'./schemas.json`
**Actual behavior:**
Redirect to `'./schemas.js`

[2018-06-01 07:14] silverwind opened #468 "Firefox: version compatibilty"
**Browser name:** Firefox
**Browser version:** 56
**OctoLinker version:** 4.17.1

I noticed that 4.17.0 or greater do not work on Firefox 56 (Links are added but nothing happens on click).

The compatibilty info for 4.17.0 and 4.17.1 [here]( https://addons.mozilla.org/en-US/firefox/addon/octolinker/versions/) says "Works with Firefox 47.0 and later", maybe it should be updated to say "Works with F

[2018-06-09 15:20] sloria commented on #277
Would love to see this land. I'm currently using Module Linker because it supports real links, but I would switch to Octolinker if this were added.

Thanks @stefanbuck for working on this. Unfortunately, I cannot test your version on Firefox (my primary browser) because Firefox requires add-ons to be [signed](https://support.mozilla.org/en-US/kb/add-on-signing-in-firefox). I tried it briefly on Ch

[2018-06-09 20:03] stefanbuck commented on #277
Over the last few months, I did a lot major refactoring which is required before shipping this feature. I have to admit, that there wasn't much progress on this recently. Also I'm still worried about sending to many requests to GitHub. I think a proper caching strategy should help to avoid requesting the same resource over and over again. However, I'm on it :wink:

[2018-07-08 21:55] stefanbuck commented on #468
I updated the compatibility to `57.0 and later` as you suggested. Thanks for reporting!

[2018-07-08 21:55] #468 closed

[2018-07-08 21:59] stefanbuck commented on #432
I think we should keep the live-resolver in a separate repository so we don't have to deal with unnecessary issues.

[2018-07-08 21:59] #432 closed

[2018-07-08 21:59] stefanbuck commented on #432
@josephfrazier if you have another view on this, feel free to re-open this issue

[2018-07-08 22:00] stefanbuck commented on #311
Will be resolved once #477 is in place.

[2018-07-08 22:00] #311 closed

[2018-07-19 09:32] tkrugg opened #485 "any plan for support of NODE_PATH resolution?"
**Browser name:**
chrome

**Browser version:**
 67.0.3396.99 (latest) as of today 😄

**OctoLinker version:**
4.19.0

**URL and line number where issue occurs:**

**Expected behavior:**
support resolution with NODE_PATH

**Actual behavior:**
dependencies resolved through a specific NODE_PATH are link to random projects on github

[2018-07-21 20:02] stefanbuck commented on #485
Hi @tkrugg, thanks for the suggestion! Could you provide a link to repository and describe how this should work?

[2018-07-21 21:03] tkrugg commented on #485
Hi @stefanbuck, thanks for your interest in this use case.

Here is an example where the NODE_PATH is used and OctoLinker isn't behaving as expected.
1. Go on https://github.com/skvale/react-postgraphile/blob/master/src/apollo-provider.js#L6
2. Click on `'src/clients/postgraphile'`

**Actual behavior:** redirects to https://github.com/wlaurance/src
**Expected behavior:** redirect to https://github

[2018-07-21 22:47] josephfrazier commented on #485
Hey @tkrugg, thanks for explaining the use case!

There's been a couple of other requests to take additional files into account when resolving the target of a particular reference (https://github.com/OctoLinker/OctoLinker/issues/186, https://github.com/OctoLinker/OctoLinker/issues/239), but we don't yet have a good way to do that, unfortunately.

Regarding this particular use case, though:

I can

[2018-07-22 05:23] camdenorrb opened #487 "Java Import resolutions?"
**Browser name:**
Firefox

**Browser version:**
61.0.1 (64-bit)

**OctoLinker version:**
4.19.1

**URL and line number where issue occurs:**
All Java and Kotlin based repo's

**Expected behavior:**
Support for local imports

**Actual behavior:**
No hyperlinks are generated for local imports

[2018-07-22 15:37] josephfrazier commented on #487
Thanks for reporting! While we currently do support a small number of non-local imports (https://github.com/OctoLinker/OctoLinker/pull/390, https://github.com/OctoLinker/OctoLinker/pull/404, https://github.com/OctoLinker/live-resolver/pull/48, https://github.com/OctoLinker/live-resolver/pull/58), local imports indeed don't work. I realize this is an issue in all Java/Kotlin projects, but if you co

[2018-07-22 20:48] camdenorrb commented on #487
Kotlin test cases:

https://github.com/camdenorrb/LegUp/blob/dfbf3320d8e83143c703ed060504a6e878c073e1/central/src/main/kotlin/me/camdenorrb/legup/central/lexer/LexerBase.kt#L3

https://github.com/camdenorrb/PlugKat/blob/0fdc666d84bd202fc2b253ee1be52e8664f1f4d4/src/main/kotlin/me/camdenorrb/plugkat/cmds/DisablePluginCmd.kt#L4

https://github.com/camdenorrb/KNBTAPI/blob/ac4fcdfd33d3adcef2657ad4c0489

[2018-07-27 13:03] tkrugg commented on #485
I agree. Feel free to close the issue.

Can we imagine providing a way to configure path resolution with OctoLinker? It could be a field injected on the page or even to a dotfile commited inside the repo

[2018-07-28 20:21] stefanbuck commented on #485
As @josephfrazier already pointed out, we don't have a solution to take an additional file into account before resolving a link which also include such a dotfile. A special comment could work (apart from the Pull Request view), but this seems to be very niche thing. Also such a solution is just a work around for the actual issue that OctoLinker is not able to take a second file into account.

[2018-07-30 22:36] stefanbuck commented on #71
I made some good progress on this today. I'm using the [raw url](https://raw.githubusercontent.com/OctoLinker/OctoLinker/83d3c6793d1f7363ce565b2e970bd9627313e39d/package.json) to fetch the underlying full blob. There is just one issue left. Unchanged lines get not linked on the right hand side just on the left.

<img width="792" alt="screen shot 2018-07-31 at 00 30 25" src="https://user-images.git

[2018-08-03 14:34] joseluisq opened #492 "Add Typescript custom paths support"
**Browser name:** Chrome

**Browser version:** Version 68.0.3440.84 (Official Build) (64-bit)

**OctoLinker version:** 4.19.0

**URL and line number where issue occurs:**

![support for typescript custom paths](https://user-images.githubusercontent.com/1700322/43648318-5a7f58ee-973a-11e8-9d33-2732aa01caa6.png)

**Expected behavior:**

Support custom Typescript paths via `tsconfig.json` file

E.g:

[2018-08-04 18:06] josephfrazier commented on #492
Hey @joseluisq, thanks for reporting this issue!

There's been a couple of other requests to take additional files into account when resolving the target of a particular reference (#186, #239, https://github.com/OctoLinker/OctoLinker/issues/485), but we don't yet have a good way to do that, unfortunately.

[2018-08-04 21:36] joseluisq commented on #492
@josephfrazier sure, I hope you can find some way to resolve this.

[2018-08-10 22:00] #71 closed

[2018-08-13 21:54] stefanbuck commented on #71
@Strajk it's out 😃

[2018-08-14 11:42] maple3142 opened #496 "Support js import in vue component"
**Browser name:**
CentBrowser

**Browser version:**
3.5.3.50 (Chromium 67.0.3396.99)

**OctoLinker version:**
4.20.0

**URL and line number where issue occurs:**
https://github.com/vuejs/vue-hackernews-2.0/blob/master/src/components/Item.vue#L30

**Expected behavior:**
The import is clickable.

**Actual behavior:**
![image](https://user-images.githubusercontent.com/9370547/44089626-118f95fe-9ffa-1

[2018-08-14 20:43] leomoty opened #497 "Add support for github preffix in package.json"
**Browser name:**

Google Chrome

**Browser version:**

68.0.3440.106

**OctoLinker version:**

4.20.0

**URL and line number where issue occurs:**

https://github.com/readium/readium-desktop/blob/master/package.json#L127

**Expected behavior:**

https://github.com/edrlab/r2-lcp-js-dist/tree/develop

**Actual behavior:**

I'm sorry, unable to resolve this link

[2018-08-17 20:15] stefanbuck commented on #496
Should be fairly easy to implement by tweaking those three lines:

https://github.com/OctoLinker/OctoLinker/blob/5a104cf88b4cd260f3b788500ecc99feb0f2ae18/packages/plugin-javascript/index.js#L23

https://github.com/OctoLinker/OctoLinker/blob/5a104cf88b4cd260f3b788500ecc99feb0f2ae18/packages/plugin-javascript/index.js#L91

https://github.com/OctoLinker/OctoLinker/blob/5a104cf88b4cd260f3b788500ecc99f

[2018-08-17 22:14] #128 closed

[2018-08-22 17:43] #9 closed

[2018-08-23 18:15] stefanbuck commented on #496
It has just landed on master #499

[2018-08-23 18:15] #496 closed

[2018-08-27 19:30] leomoty commented on #453
Hey @stefanbuck, any pointers for this one?

[2018-08-27 19:54] stefanbuck commented on #453
At its core, it's just about calling `run` which will basically re-invoke the whole extension.

https://github.com/OctoLinker/OctoLinker/blob/e218001fe64a9864e8f90994f406d3b588802702/packages/core/octo-linker.js#L20

[2018-08-28 01:12] leomoty commented on #453
@stefanbuck I have a preliminary version working with MutationObserver, I am looking for addedNodes that contains `.blob-expanded`, if that is the case, run `run` again. Should this be a function in `octo-linker.js`, or something? I can make a PR tomorrow.

[2018-08-28 06:00] stefanbuck commented on #453
Great news 👍 Yes, putting that into `octo-linker.js` sounds appropriate to me. Regarding testing, recently I added [E2E testing](https://github.com/OctoLinker/OctoLinker/tree/master/e2e) which should make testing such behaviour much easier. Literally, it's just click and inspecting the DOM for new `.octolinker-link` elements. I'm happy to help you if you get stuck.

[2018-08-28 22:21] leomoty opened #507 "yarn *-open commands"
**Intended outcome:**

Running `yarn chrome-open` should open a chrome session with the extension loaded

**Actual outcome:**

Complains about an issue with the manifest

**How to reproduce the issue:**

Run `yarn chrome-open`

----

`yarn firefox-open` on other hand seems to work fine, but OctoLinker is not injected properly in some pages, like the diff view.

[2018-08-28 22:40] josephfrazier commented on #507
Hi @leomoty, thanks for the report!

Could you post the error you're seeing, along with your `node` and `yarn` versions?

I just tried `yarn chrome-open` on a machine running Node v8.11.3 and Yarn v1.7.0, and got the chrome session with the extension loaded, as expected. For what it's worth, the output looked like this:

<details><summary>Click to show output</summary>

[code]

</details>

[2018-08-28 23:00] leomoty commented on #507
Hello @josephfrazier, no problem.

[code]

<details>
<summary>yarn chrome-open output</summary>
<pre>
C:\Users\leomoty\Documents\Projects\OctoLinker>yarn chrome-open
yarn run v1.9.4
$ yarn build && yarn chrome-launch --
$ webpack --mode=production
Hash: bb49aa6dfc0b7bde3365
Version: webpack 4.8.1
Time: 2455ms
Built at: 2018-08-28 19:50:10
        Asset       Size  Chunks                    Chunk N

[2018-08-29 04:35] #453 closed

[2018-08-29 20:13] stefanbuck commented on #507
I'm using node 10.9 with yarn 1.9.4 and it is working. Maybe this is a windows related issue.

[2018-08-29 20:35] leomoty commented on #507
Seems likely yes, since it is trying to serve `dist` from Google Chrome's directory.

[2018-08-29 20:40] leomoty commented on #507
I can confirm that it works by adjusting this line:

https://github.com/OctoLinker/OctoLinker/blob/master/scripts/chrome-launch.js#L6

[2018-08-29 22:04] #507 closed

[2018-08-30 13:36] leomoty commented on #455
That URL is not valid anymore:

https://github.com/fastify/fastify/blob/93fcef0a2b49423b9be6142a9b16a9db760a43fd/lib/handleRequest.js#L10

Also, this seems to work fine on master.

[2018-08-30 13:44] StarpTech commented on #455
Yes, seems to work with the latest update. Thanks.

[2018-08-30 13:44] #455 closed

[2018-08-31 19:32] leomoty opened #510 "Multiline import in diff view"
**Intended outcome:**

`dialogx.jsx` is clickable

**Actual outcome:**

`dialogx.jsx` is not clickable in diff view

**How to reproduce the issue:**

https://github.com/cockpit-project/cockpit/pull/9943/files#diff-a2edaced83836966f97b3d8df14beabcR24

Doesn't work on chrome (master) for me, works fine in Firefox.

It works correctly in blob (both browsers):

https://github.com/cockpit-project/cockp

[2018-08-31 19:50] stefanbuck commented on #510
Good spot 👍@leomoty do you want to look into this one?

A good starting point is to verify that the RegExp search made by [findAndReplaceDOMText](https://github.com/padolsey/findAndReplaceDOMText) is working. The [replace](https://github.com/OctoLinker/OctoLinker/blob/3da6100e2b121a641cd3a7abf900d091f5dd3ad3/packages/helper-insert-link/index.js#L166) callback should be called with this `match` oth

[2018-08-31 20:01] leomoty commented on #510
Sure, will take a look this weekend. Any ideas why it works on firefox but not chrome?

[2018-09-02 16:37] MatthewDG commented on #431
Hey team, I'm happy to take this one. PR incoming soon.

[2018-09-05 18:43] stefanbuck opened #512 "Is the new version notification useful or not?"
I'm curious what people think about the notification that you get when a new version of OctoLinker comes out. Is this useful or something that you click straight away?

Please leave or comment or vote with an emoji:
- 👍 Means useful
- 👎 Not really useful

<img width="577" alt="screen shot 2018-09-05 at 20 33 38" src="https://user-images.githubusercontent.com/1393946/45113587-14893500-b14b-11e8-819

[2018-09-05 19:56] stefanbuck commented on #431
Available in v4.22.0. @MatthewDG thanks again for adding this feature.

[2018-09-05 19:56] #431 closed

[2018-09-05 21:32] leomoty commented on #510
So, I was able to narrow down the issue, it only fails on split view:

https://github.com/cockpit-project/cockpit/pull/9943/files?utf8=%E2%9C%93&diff=split

It happens in both chrome and firefox.

[2018-09-05 23:19] leomoty commented on #510
@stefanbuck  I had a hunch.

When in split view, this is the HTML structure is as follow:

[code]

The regex is not really effective, because the import is across lines, which means it is splitten across multiple `<tr>`s and it has the other side worth of code as sibling (`td`).

So I wrote a little hack to test if i I was right:

[code]

This is replacing `blob.el` in https://github.com/OctoLinke

[2018-09-05 23:37] transitive-bullshit commented on #512
I find it really useful to keep up-to-date with the great work you guys are doing that I'd otherwise not notice. It's not too intrusive -- thanks!

[2018-09-06 13:07] leomoty commented on #510
Tried running this by hand: https://github.com/padolsey/findAndReplaceDOMText/blob/master/src/findAndReplaceDOMText.js#L262

Unless I am mistaken, the result is what I expected:

[code]

[2018-09-06 21:18] stefanbuck commented on #510
Thanks @leomoty, that's a really well researched report! Off the top of my head, I have no idea how to solve this best. Let me think about it. @josephfrazier do you have any smart idea?

[2018-09-06 21:27] leomoty commented on #510
Ya me neither, unless we somehow start treating each side in split diff view as a different blob. Right now, that approach would break and it requires more than just text replacing.

[2018-09-14 08:53] levrik opened #513 "GitHub PR files changed tab becomes unresponsive when trying to add a comment"
**Intended outcome:** Adding a comment to a line in a PR via the little plus button on the left.

**Actual outcome:** Page becomes unresponsive.

**How to reproduce the issue:** Open a PR while having OctoLinker active and try to add a comment to some line. It doesn't happen if OctoLinker is disabled. Also tried with only OctoLinker activated!

[2018-09-14 10:07] leomoty commented on #513
Will also take a look after work.

[2018-09-14 11:02] leomoty commented on #513
I can confirm that 4.22.0 is definitely culprit, my work machine (dev install) is still at OctoLinker 4.21.0 and it works.

[2018-09-14 22:53] leomoty commented on #513
No problem, I kinda caused it, i'll be more careful next time. Listening for click sounds way simpler.

[2018-09-19 14:31] leomoty commented on #449
This one is very strange, opening the URL yields no octolinks whatsoever. but clicking View in `packages.config` and then pressing `history back`, it works. @stefanbuck any hints here?

[2018-09-23 11:10] steebchen opened #515 "Whitespace in dockerfile image links should be ignored"
**Intended outcome:**

Clicking on a `FROM image` link with whitespace between the FROM and the image in a Dockerfile and getting redirected to the correct docker hub link.

**Actual outcome:**

There was whitespace between the FROM and the image name, thus I was redirected to an url like `https://hub.docker.com/_/%20%20%20%20%20%20%20ubuntu/` where %20 stands for whitespace (a space).

**How to r

[2018-09-24 20:18] stefanbuck commented on #515
This should be fairly easy to fix by tweaking the related Docker RegExp

https://github.com/OctoLinker/OctoLinker/blob/a0cab84c5adfdfea10a819ba07030946c6c356de/packages/helper-grammar-regex-collection/index.js#L73

[2018-09-25 14:06] MatthewDG commented on #515
I'm happy to take this on unless you wanted to go for it @steebchen

[2018-09-25 18:18] steebchen commented on #515
Feel free to. I tried to look into this but I just don't get this special xregexp stuff and \s just seems fine.. :P

[2018-09-28 19:52] #515 closed

[2018-09-30 19:55] leomoty commented on #449
Hello @stefanbuck, @josephfrazier,

I have been quite busy at work, but got a bit of time today, I figured out the issue, it might be related to #338.

It is not an OctoLinker issue per se, we are handling it fine, however, some blobs are not loaded with the document. This is loaded by javascript afterwards:

https://github.com/equineexchange/EquineExchange.ImageHosting/diffs?bytes=17873&commentab

[2018-09-30 20:08] xt0rted commented on #449
GitHub uses [selector-observer](https://github.com/josh/selector-observer) to wire up their JS because of how parts of the site load (mostly PJAX). I'm not familiar with how Octolinker is setup but maybe this pattern is what's needed to get these other sections to work?

[2018-10-04 19:53] stefanbuck commented on #449
It should re-run on `pjax:end`, but maybe they changed the way how the lazy load snippets and `pjax:end` isn't invoked anymore.

https://github.com/OctoLinker/injection/blob/master/index.js#L12

[2018-10-04 19:57] leomoty commented on #449
Yeah I noticed that as well.

[2018-10-04 20:01] leomoty commented on #449
Also that being the case, when you expand a deleted file, the content wont get octolinked, right?

[2018-11-08 08:36] mgood7123 opened #521 "support for C/C++"
is there going to be support for compiled languaged like C/C++ #include "..." and #include <...>

[2018-11-08 20:34] stefanbuck commented on #521
It's not planned, but we would be happy to guide you in case you'd like to submit Pull Requests.

I have no clue how `include` works in C. If you don't mind we could try out a new approach here; TDD 😉 No worries, those tests (end 2 end tests) are super easy to create and it will take just a few minutes to raise such a PR. Our [E2E readme](https://github.com/OctoLinker/OctoLinker/tree/master/e2e) s

[2018-12-10 06:24] denji opened #527 "RecentBranches"

[2018-12-10 07:27] #527 closed, assigned to nobody

[2018-12-10 07:44] denji commented on #527
Don't you want to fix the UX bug blocks [Start] [Fork] buttons?

[2018-12-11 09:53] SerkanSipahi commented on #492
Any updates here? It would be nice when we have that feature!

[2018-12-11 22:53] stefanbuck commented on #492
There is still the functionality missing to take additional files into account before resolving a link. The good news is that I solved a similar issue while working on https://github.com/OctoLinker/OctoLinker/pull/488. This doesn't enables this functionality out of the box, but it's should be a little bit easier.

I'm currently working on another big task. Once this is complete, I'll focus on this

[2018-12-16 23:35] Corosauce commented on #487
I can understand that it might be impossible to have it automatically work for all custom libraries, since you can't easily separate folder structure fluff from a real root package that is used in imports without human validation, so I propose A UI suggestion, a quick way for the extension user to define a URL to a root package that the extension would auto traverse (with github API or whatever me

[2018-12-17 02:11] rauchg opened #530 "Start processing the link on hover / speculatively"
In most cases, we should not have to see the popover and read "Processing". That should be more of a worst case scenario.

[2018-12-17 07:46] stefanbuck commented on #530
I agree with you. This has been raised a few times already #277. I'm currently working on a fix. A first version to prefetch external links in the background went out a few hours ago. I'm using shadow loading to see the real production load on my Heroku plan. You still get the popover, but you will be redirected immediately after a click on e.g. `require('lodash')`. Relative files are not affected

[2018-12-18 05:35] rauchg commented on #530
@stefanbuck if it fits a serverless architecture, I'd love to host you on [Now](https://zeit.co/now) and sponsor this project. I love it.

[2018-12-18 22:06] stefanbuck commented on #530
Thanks @rauchg that's a generous offer.

With a few tweaks the service should be serverless ready. It's a bunch of handlers and a few static assets to support java resolution. We use serverless for some internal tooling at work, but I never used serverless in production. Therefore I have some thoughts.

I'm little bit worried how to achieve caching in a serverless environment. Right now, the servi

[2018-12-18 23:24] josephfrazier commented on #530
Oh man, I would love to be able to have this on Now! I've been keeping an eye on Now for a while, and I keep liking it more and more, but haven't actually used it for anything.

[2018-12-20 10:23] sdgluck opened #534 "Support .babelrc / babel.config.js"
Apologies if it has been mentioned before.

Are there are any plans to add support for `.babelrc`/`babel.config.js` files?

Love the plugin. Thank you!!

[2018-12-20 17:20] josephfrazier commented on #534
https://github.com/OctoLinker/OctoLinker/issues/186

[2018-12-20 17:49] sdgluck commented on #534
AFAICT that issue is asking for OctoLinker to use the babel config during resolution of application dependencies? I am asking if it would be possible for OctoLinker to actually work in these Babel config files. Sorry for any confusion.

[2018-12-20 17:51] josephfrazier commented on #534
Oh, sorry for the mistake. Could you give an example file and the behavior you're expecting?

[2018-12-20 22:54] stefanbuck commented on #530
I've gotten the bare minimum (npm only) working here https://octolinker.now.sh/?package=lodash There is still some work left to do, but once it's complete I'll send a subset of users over to see how the service behaves in a serverless environment.

[2018-12-26 19:07] josephfrazier opened #535 "Doesn't work with lerna-style repositories"
**Intended outcome:**

I clicked a link to the `jest-mock` package and expected to be taken to https://github.com/facebook/jest/tree/master/packages/jest-mock

**Actual outcome:**

I was taken to https://github.com/facebook/jest instead

**How to reproduce the issue:**

Go here and click `jest-mock`: https://github.com/facebook/jest/blob/f13b97b70238ee8cd973632d243d046e0f8e794b/types/Mock.js#L13

[2019-01-20 12:13] silverwind opened #539 "Links not working in certain package.json files"
**Intended outcome:**

Links in https://github.com/sindresorhus/got/blob/master/package.json should work.

**Actual outcome:**

None of the links in the file work. While the individual dependency names do turn into links, clicking on them does nothing. No errors are visible in the browser console.

**How to reproduce the issue:**

Use OctoLinker 4.22.5 on Firefox 64.0.2 and open above linked packa

[2019-01-25 15:50] temco commented on #288
As a clojurian, the expected behavior is to turn the strings of the namespaces (`reagent.core` and `re-navigate.events`, as shown in vikeri's sample) and the functions (`atom` and `dispatch-sync`) into the links. The namespace might be defined inside this project, or defined in the imported packages, which are declared by the grammar like `:dependencies [...]` inside the `project.clj` in the root

[2019-02-01 21:31] stefanbuck commented on #539
Fixed and released!

[2019-02-01 21:32] #539 closed

[2019-03-14 19:30] OrangutanGaming opened #545 "Not fully redirecting"
**Intended outcome:**
When you click a link, it should redirect to the url

**Actual outcome:**
It redirects to `https://githublinker.herokuapp.com/...` and simply shows a JSON

**How to reproduce the issue:**
Click a link, had it happen on every link

Using Chrome 73.0.3683.75 (Official Build) beta (64-bit) and OctoLinker 4.22.6

[2019-03-14 19:38] stefanbuck commented on #545
Can you provide a link to the page that is causing this problem. That would be really helpful.

[2019-03-14 19:40] OrangutanGaming commented on #545
Just narrowed it down slightly, it seems to be on any Python file

[2019-03-14 19:45] OrangutanGaming commented on #545
Also getting it on Dockerfiles

[2019-03-14 19:46] stefanbuck commented on #545
The linking works for all links in this file https://github.com/pallets/flask/blob/master/flask/cli.py

[2019-03-14 19:46] stefanbuck commented on #545
This Docker file works as well for me https://github.com/OctoLinker/OctoLinker/blob/master/e2e/fixtures/docker/Dockerfile

[2019-03-14 19:47] stefanbuck commented on #545
Without an example link it's really hard to narrow down the issue.

[2019-03-14 19:50] OrangutanGaming commented on #545
With both of those links it's not working, must be something on my end

[2019-03-14 20:15] stefanbuck commented on #545
Are you using Chrome or Firefox?

[2019-03-14 20:37] stefanbuck commented on #545
I was still on 72, but after updating to 73 I get the same result.

[2019-03-14 21:12] stefanbuck commented on #545
Chrome 73 changed to cross-origin requests in chrome extension content scripts see
https://www.chromestatus.com/feature/5629709824032768

[2019-03-14 21:53] #545 closed

[2019-03-14 22:00] stefanbuck commented on #545
Fixed and released. An update should be available within 30min. New version will be v4.22.7

[2019-03-16 18:56] stefanbuck commented on #277
@tim-phillips @sloria @derimagia Good news, I just finished the last major PR for this feature. It required quite some changes and therefore I would like to run a beta phase of the upcoming version. If you want to participate in beta, join us on [spectrum](https://spectrum.chat/octolinker/v5/join/77a0134c-1147-4e85-900c-db42875a8a98) for more details.

[2019-03-20 21:25] joseluisq opened #548 "Add Dart support"
It would be great to have Dart support too.

[code]

[2019-03-20 21:34] stefanbuck commented on #548
Yes! This would be super 👍 Thanks for the idea! Would you like to contribute to make it? The [ruby plugin](https://github.com/OctoLinker/OctoLinker/blob/master/packages/plugin-ruby/index.js) should provide you some hint on how to build it. I'm happy to assist you.

[2019-03-27 11:24] joseluisq commented on #548
I would like to contribute as soon as I get free time again.

[2019-04-09 17:26] stefanbuck opened #549 "OctoLinker beta"
First, thank you for joining our beta.

Below, you will find the highlights as well as the installation instructions for this beta build. If you come across any issues or if you have feedback to offer, please let us know. If everything is working great, that's also nice to hear.

![demo](https://user-images.githubusercontent.com/1393946/55822421-db111180-5aff-11e9-8b0e-e603c6c676a7.png)

## Highli

[2019-04-09 22:04] stefanbuck commented on #530
This will be fixed in the next major release which is scheduled for end of April. In case you don't want to wait, a beta version is available here https://github.com/OctoLinker/OctoLinker/issues/549

Thanks again for sponsoring OctoLinker. It was fun project to move the service over to NOW.

[2019-04-09 22:04] #530 closed

[2019-04-09 22:05] stefanbuck commented on #277
This will be fixed in the next major release which is scheduled for end of April. In case you don't want to wait, a beta version is available here https://github.com/OctoLinker/OctoLinker/issues/549

[2019-04-09 22:05] #277 closed

[2019-04-12 12:08] leomoty commented on #549
The beta fixes this one too, doesn't it?

https://github.com/OctoLinker/OctoLinker/issues/510

At least according to our conversation.

[2019-04-12 17:43] stefanbuck commented on #549
No, it's a different issue. The import statement is divided by the expand line and therefore the regex fails over.

[2019-04-12 18:54] leomoty commented on #549
Ah right, you didn't change anything about the parsing of that block?

[2019-05-03 07:56] fregante opened #550 "Add support for `CODEOWNERS` (and other local paths)"
ExampleS where linked files would be useful:

- https://github.com/sindresorhus/refined-github/blob/master/.github/CODEOWNERS
- https://github.com/sindresorhus/refined-github/blob/master/.gitattributes

[2019-05-03 07:57] bfred-it commented on #549
😍

[2019-05-03 11:52] stefanbuck commented on #549
Yes, this is needed for the real href-links and also reused by Github's pjax also know as turbo links.

[2019-05-03 13:11] bfred-it commented on #549
That would add a big load on every page 😰 and potentially on GitHub's server, especially on files with many imports (e.g. https://github.com/sindresorhus/refined-github/blob/master/source/content.ts)

[2019-05-03 14:25] bfred-it commented on #549
I just tried the beta on this file: https://github.com/OctoLinker/OctoLinker/blob/master/packages/core/app.js

These are the requests:

<img width="978" alt="Screenshot 2019-05-03 at 22 23 32" src="https://user-images.githubusercontent.com/1402241/57143759-30d09500-6df2-11e9-9328-755663eff22d.png">

I don't see any paths that can be used by GitHub, specifically `https://github.com/OctoLinker/OctoL

[2019-05-03 14:29] leomoty commented on #549
@bfred-it if I understand correctly this is the call that prefetches everything:

https://api.github.com/repos/OctoLinker/OctoLinker/git/trees/62e1b2c902a634bc10f30fc04172a5318281265d?recursive=1

[2019-05-03 14:31] leomoty commented on #549
Also, it gets cached:

![image](https://user-images.githubusercontent.com/1463740/57144190-ebcb4500-6d96-11e9-9b8e-5d793205edd4.png)

Which is a nice bonus.

[2019-05-03 14:33] bfred-it commented on #549
That's an API call; GitHub does not use the API

[2019-05-03 14:38] bfred-it commented on #549
Also, AFAIK, a request made by `fetch()` isn't automatically cached and reused, unless you setup a service worker that handles the cache (but I could be wrong).

Heck, even just clicking the same link twice will load the page again from the server because GitHub returns `max-age=0, private, must-revalidate` on HTML pages. The only way to do it, I think, is via `<link rel="prefetch or preload">`, b

[2019-05-03 17:53] stefanbuck commented on #549
First, thanks for the heads up @bfred-it, really appreciated 👍Also @leomoty for jumping in here.

No worries, we don't hammer the GitHub with requests. As you both already found out, OctoLinker performs two request, one against the GitHub Tree API and another one against our server which does the linking magic for external dependencies.

Please let me know if you have any other questions or concer

[2019-05-03 17:56] bfred-it commented on #549
Question, why are you performing the requests on `now` instead of `background.js`? Does that impact the support for private repos/modules/enterprise? (not that I use any of them)

[2019-05-03 18:25] stefanbuck commented on #549
First of all, the OctoLinker API is not new and exist since a long time already and is used by the current version of OctoLinker too. By resolving dependencies on the server side, the browser extension doesn't need tones of permissions to read data from all kind of websites such as npmjs.com, getcomposer.org ... which was the primary reason for building the API. We also use the sever to do some hi

[2019-05-11 08:01] bfred-it opened #552 "Add support for `tsconfig`'s extend"
Example: https://github.com/bfred-it/doma/blob/master/tsconfig.json

[code]

`@sindresorhus/tsconfig` could link to https://github.com/sindresorhus/tsconfig#readme

[2019-05-17 05:53] yuu2lee4 commented on #416
watch this

[2019-05-24 20:25] Logerfo opened #553 "Middle click scrolling"
I don't think #173 is working as it's supposed to. When I middle-click a link, it opens in a new tab, but the "auto scrolling" browser feature gets activated as well. The intended behavior was supposed to be the auto scroll being cancelled.

[2019-05-25 13:52] stefanbuck commented on #553
Thanks for reporting. This indeed sounds like a bug. However a new major release will be available soon which I think will solve this issue as well. Do you mind to give the beta version a try and report back in this? That would be really helpful. Thanks https://github.com/OctoLinker/OctoLinker/issues/549

[2019-05-26 21:47] Albert221 opened #554 "Support for Go Modules"
Example file: https://github.com/mattermost/mattermost-server/blob/master/go.mod

[2019-05-27 13:00] Logerfo commented on #553
Yes, it works as expected in the beta version. Thanks!

[2019-05-27 13:00] #553 closed

[2019-06-04 14:00] nickforddesign commented on #280
Oh man i'd love to see a VSCode extension for this

[2019-06-07 07:07] hjdarnel opened #556 "Support for namespaced NPM packages require()"
Hi!

I think it would be cool if a line such as `const jest= require(@jest/core');` linked to https://www.npmjs.com/package/@jest/core

Thanks! Will be recommending this extension to my coworkers 😄

[2019-06-07 09:29] fregante opened #557 "A script in the extension "OctoLinker" is causing Firefox to slow down"
I consistently get this message when visiting this large file:

<img width="485" alt="A script in the extension  OctoLinker  is causing Firefox to slow down" src="https://user-images.githubusercontent.com/1402241/59094859-ac6db680-8949-11e9-86f5-2cdf9766c1aa.png">

https://github.com/Microsoft/TypeScript/blob/master/lib/lib.dom.d.ts

Admittedly this is more of an edge case, given the length of the

[2019-06-07 10:55] stefanbuck commented on #556
Thanks for reporting this issue! OctoLinker does support NPM namespaces already [see](https://github.com/babel/babel/blob/master/packages/babel-core/src/index.js#L1)2, but the issue here is slightly different. In your given example it links to `https://github.com/facebook/jest`, because we OctoLinker gets the url defined in the package.json in this case from here https://github.com/facebook/jest/b

[2019-06-07 10:59] stefanbuck commented on #557
Wow this file length is insane! I think it's best to not execute OctoLinker at all if a file goes beyond a certain line limit. Refactroing the extension to support such edgaces seems to be overkill and I would rather spend my time with new features.

Defining the limit is probaly the trickest task here. My gut feeling says that everyone beyone 5000 lines should be ignored.

How does this sound to

[2019-06-07 11:31] stefanbuck commented on #549
I want to send a hearty thank you to all you who take part in the beta. The new version got release yesterday so please uninstall the beta and continue using the offical OctoLinker version.

[2019-06-07 11:31] #549 closed

[2019-06-07 11:34] stefanbuck commented on #554
Actually OctoLinker is already supporting go see https://github.com/kubernetes/ingress-gce/blob/6f8bdc9fad1b5576d4fe07900301a133652a8892/cmd/glbc/main.go#L31

In your given example the file extension is `.mod` which is the reason why OctoLinker didn't started to resolve links. Is this a common extension for certain go files?

[2019-06-07 11:36] stefanbuck commented on #554
Ahh that's a new manifest like file similuar to package.json https://github.com/golang/go/wiki/Modules#gomod Shoudl be easy to add support for it. Are you intressted in submitting a PR? I'm more than happy to help you landing this feature.

[2019-06-07 11:39] bfred-it commented on #557
That sounds alright, but it might be a good opportunity to find some bottlenecks, like these long garbage collection events

<img width="1032" alt="Screenshot 2019-06-07 at 19 31 59" src="https://user-images.githubusercontent.com/1402241/59101284-117dd800-895b-11e9-95cc-c06b4f62e009.png">

It appears to be caused by this: https://github.com/OctoLinker/OctoLinker/blob/0174f49ed52e936dadcacc81f8cdf4

[2019-06-07 15:47] silverwind commented on #557
I too regularily observer the browser tab hanging when opening moderately big `package.json` files. For example https://github.com/elastic/kibana/blob/master/package.json freezes my browser tab for almost 20 seconds, which I think is borderline unacceptable.

If CPU-intensive work is to be done, maybe offload it to a web worker? Thought based on the comments above, the bottleneck sounds like ineff

[2019-06-07 16:06] hjdarnel commented on #556
Hi @stefanbuck, thanks for responding! In my attempt to anonymize my code I might've missed my actual problem. Here's the import that I'm _actually_ attempting to dig into: `const orderServiceClient = require('@casestack/tms-order-service-client').v15;
`

This is a private NPM package. I assumed it would just link me to https://www.npmjs.com/package/@casestack/tms-order-service-client.

Let me kno

[2019-06-07 16:41] bfred-it commented on #557
Wow, that file is _only_ 440 lines but freezes the browser for longer than TypeScript's 18K lines file

[2019-06-07 17:33] stefanbuck commented on #557
So this issue isn't new for both of you and existed also in the previous version, right? Anyway, sorry for this bad experience.

@bfred-it I agree, there are more efficeient ways to replace dom elements, but maintaining this extension for many years, taught me that relying on classNames and dom elements is error-prone and time consuming to keep in sync. `findandreplacedomtext` was solving this iss

[2019-06-07 17:42] stefanbuck commented on #556
Ahh I see, at least you pointed me to another problem 😉

Private packages aren't supported, simply because they are private and OctoLinker can't ensure that this package really exists on npm. We could just fallback to npmjs.com/package/whatever, but for example in my company we use an internal registry and such a blind guess would break links for us.

Adding an option to allow such a blind resolve

[2019-06-07 19:37] natew opened #558 "Chrome extension asking for new permissions to octolinker.now.sh"
Just wanted to get clarification on this, especially write access?

[2019-06-07 20:23] stefanbuck commented on #558
Thanks for asking this important quesiton. I didn't covered this in the changelog, but I'll add a note there as well.

In an early version of OctoLinker, we shipped a giant mapping list of all npm packages and their related GitHub project url as part of the extension. This worked well until npm reached a critical mass. We aslo started supporting other languages so this wasn’t approachable anymore.